## Web Service

http://flask.pocoo.org/docs/0.10/quickstart/

In [1]:
import pandas as pd

In [2]:
pd.read_json?

In [4]:
top_airports=pd.read_json('http://127.0.0.1:5000/ret_number/15')

In [5]:
top_airports

                               Airport Name arr_port    pax
0                   London Heathrow Airport      LHR  88809
1             Orlando International Airport      MCO  70930
10     Chicago O'Hare International Airport      ORD  53200
11      Leonardo da Vinci–Fiumicino Airport      FCO  45120
12                       Istanbul / Ataturk      IST  43850
13  Dallas/Fort Worth International Airport      DFW  42420
14             Cancún International Airport      CUN  42000
2         Los Angeles International Airport      LAX  70530
3           Mc Carran International Airport      LAS  69630
4      John F Kennedy International Airport      JFK  66270
5                 Paris - Charles-de-Gaulle      CDG  64490
6                              Suvarnabhumi      BKK  59460
7               Miami International Airport      MIA  58150
8       San Francisco International Airport      SFO  58000
9               Dubai International Airport      DXB  55590

In [2]:
r = pd.read_json('http://127.0.0.1:5000/top/15')