## Write a Web Service

Wrap the output of the second exercise in a web service that returns the data in JSON format (instead of printing to the standard output).

The web service should accept a parameter n>0. For the top 10 airports, n is 10. For the X top airports, n is X

In [1]:
%%time
import pandas as pd
path='/home/dsc/Data/challenge'
file_name='bookings.csv.bz2'
#file_name='bookings.csv.bz2'

sum_chunks=pd.DataFrame()

bc = pd.read_csv(path+'/'+file_name,sep='^',usecols=['arr_port','pax','year'], chunksize=1000000)
bc = pd.read_csv(path+'/'+file_name,sep='^',usecols=['arr_port','pax','year'], chunksize=3000) #for sample file
for i,chunk in enumerate(bc):
    print i
    chunk_airports=chunk[chunk['year'] == 2013][['arr_port','pax']].dropna().groupby(['arr_port']).sum().reset_index()
    sum_chunks=sum_chunks.append(chunk_airports)
    
#topairports=sum_chunks.groupby('arr_port').pax.sum().sort_values(ascending=False).reset_index().head(10) 

#we are going to need this for the web service so we'll put it without top10
topairports=sum_chunks.groupby('arr_port').pax.sum().sort_values(ascending=False).reset_index() 

from GeoBases import GeoBase
geoDict = GeoBase(data='ori_por', verbose=False)

allairports['arr_port']=allairports.arr_port.map(lambda x: x.strip())
allairports['Airport Name']=allairports.arr_port.map(lambda x: geoDict.get(x)['name'])
allairports.to_csv('allairports.csv',sep='^', index=False)

topairports=allairports.head(10)

0
1
2
3
4
5
6
7
8
9
10
CPU times: user 3min 33s, sys: 1.21 s, total: 3min 34s
Wall time: 3min 35s

## Web Service

http://flask.pocoo.org/docs/0.10/quickstart/

In [1]:
from flask import Flask

In [2]:
app = Flask("My first web service")
@app.route('/hello', methods=['GET'])
def get_hello():
    return "Hello DS from the service!"

In [3]:
app.run()

In [4]:
del app

http://127.0.0.1:5000/hello

HTTP (the protocol web applications are speaking) knows different methods for accessing URLs. By default, a route only answers to GET requests, but that can be changed by providing the methods argument to the route() decorator.

The HTTP method (also often called “the verb”) tells the server what the clients wants to do with the requested page.

GET
    The browser tells the server to just get the information stored on that page and send it. This is probably the most common method.

HEAD
    The browser tells the server to get the information, but it is only interested in the headers, not the content of the page. An application is supposed to handle that as if a GET request was received but to not deliver the actual content.
    
POST
    The browser tells the server that it wants to post some new information to that URL and that the server must ensure the data is stored and only stored once. This is how HTML forms usually transmit data to the server.

PUT
    Similar to POST but the server might trigger the store procedure multiple times by overwriting the old values more than once. Now you might be asking why this is useful, but there are some good reasons to do it this way. Consider that the connection is lost during transmission: in this situation a system between the browser and the server might receive the request safely a second time without breaking things. With POST that would not be possible because it must only be triggered once.

DELETE
    Remove the information at the given location.

OPTIONS
    Provides a quick way for a client to figure out which methods are supported by this URL. Starting with Flask 0.6, this is implemented for you automatically.

In [6]:
ls -l

total 91732
-rw-rw-r--. 1 dsc dsc    73326 May  7 07:11 all_airports.csv
drwxrwxr-x. 2 dsc dsc     4096 May  6 17:01 backup/
-rw-rw-r--. 1 dsc dsc 75836317 May  6 07:08 bookings_wn_dup.csv.bz2
-rw-rw-r--. 1 dsc dsc    12386 May  6 18:04 ch_01-Empty.ipynb
-rw-rw-r--. 1 dsc dsc    14580 May  5 11:57 ch_01.ipynb
-rw-rw-r--. 1 dsc dsc    74467 May  7 07:16 ch_02-Empty.ipynb
-rw-rw-r--. 1 dsc dsc   242078 May  6 14:13 ch_02.ipynb
-rw-rw-r--. 1 dsc dsc    10832 May  5 23:58 ch_03-Empty.ipynb
-rw-rw-r--. 1 dsc dsc   332172 May  6 12:27 ch_03.ipynb
-rw-rw-r--. 1 dsc dsc     8019 May  6 12:19 ch_04-Empty.ipynb
-rw-rw-r--. 1 dsc dsc   119881 May  6 12:36 ch_04.ipynb
-rw-rw-r--. 1 dsc dsc     7194 May  5 11:57 ch_05_b.ipynb
-rw-rw-r--. 1 dsc dsc    12100 May  7 07:18 ch_05.ipynb
drwxrwxr-x. 2 dsc dsc     4096 May  5 11:57 DaniPythonClass/
drwxrwxr-x. 3 dsc dsc     4096 May  5 11:57 DaniPythonClassWorking/
drwxrwxr-x. 2 dsc dsc     4096 May  5 11:57 IsraChall/
-rw-rw-r--. 1 dsc dsc    19978 May  6 11:45 playground.ipynb
-rw-rw-r--. 1 dsc dsc       20 May  5 11:57 README.md
-rw-rw-r--. 1 dsc dsc     7129 May  5 11:57 salabahter.txt
-rw-rw-r--. 1 dsc dsc 17112287 May  6 07:40 searches_wn_dup.csv.bz2

In [7]:
import pandas as pd
top=pd.read_csv('all_airports.csv',sep='^')
top.head()

  arr_port    pax                          Airport Name
0      LHR  88809               London Heathrow Airport
1      MCO  70930         Orlando International Airport
2      LAX  70530     Los Angeles International Airport
3      LAS  69630       Mc Carran International Airport
4      JFK  66270  John F Kennedy International Airport

In [31]:
top.head(15).to_json()

'{"arr_port":{"0":"LHR","1":"MCO","2":"LAX","3":"LAS","4":"JFK","5":"CDG","6":"BKK","7":"MIA","8":"SFO","9":"DXB","10":"ORD","11":"FCO","12":"IST","13":"DFW","14":"CUN"},"pax":{"0":88809.0,"1":70930.0,"2":70530.0,"3":69630.0,"4":66270.0,"5":64490.0,"6":59460.0,"7":58150.0,"8":58000.0,"9":55590.0,"10":53200.0,"11":45120.0,"12":43850.0,"13":42420.0,"14":42000.0},"Airport Name":{"0":"London Heathrow Airport","1":"Orlando International Airport","2":"Los Angeles International Airport","3":"Mc Carran International Airport","4":"John F Kennedy International Airport","5":"Paris - Charles-de-Gaulle","6":"Suvarnabhumi","7":"Miami International Airport","8":"San Francisco International Airport","9":"Dubai International Airport","10":"Chicago O\'Hare International Airport","11":"Leonardo da Vinci\\u2013Fiumicino Airport","12":"Istanbul \\/ Ataturk","13":"Dallas\\/Fort Worth International Airport","14":"Canc\\u00fan International Airport"}}'

http://jsonprettyprint.com/
https://jsonformatter.curiousconcept.com/

In [29]:
app2 = Flask("Top Airports")
@app2.route('/top/<int:n>',methods=['GET'])

def get_top(n):
    d = top.head(n)
    return d.to_json()

In [30]:
app2.run()

In [9]:
del app2

In [10]:
app2 = Flask("Top Airports")

@app2.route('/top<int:n>',methods=['GET'])
def get_top(n):
    d = top.head(n)
    return d.to_json()

@app2.route('/', methods=['GET'])
def get_hello():
    return "Hello from my second web service!"

In [12]:
app2.run()

from werkzeug.serving import run_simple
run_simple('localhost', 5000, app2)

# Ostaci

In [2]:
topairports.arr_port.head()

0    LHR
1    MCO
2    LAX
3    LAS
4    JFK
Name: arr_port, dtype: object

In [3]:
topairports2=topairports.copy()

In [5]:
list(topairports2.arr_port.head())

['LHR     ', 'MCO     ', 'LAX     ', 'LAS     ', 'JFK     ']

map= works element wise on series

apply= works on row/columns of DF (def=columns; axis=1 => rows); works on DF of group by

applymap = works element wise on DF

In [13]:
topairports2.arr_port=topairports2.arr_port.map(str.strip)

In [14]:
list(topairports2.arr_port.head())

['LHR', 'MCO', 'LAX', 'LAS', 'JFK']

In [22]:
#topairports.pax=pd.to_numeric(topairports.pax)

In [28]:
topairports2.pax=topairports2.pax.map(lambda x:int(x))

In [48]:
topairports2.to_csv('top_airports.csv',sep='^', index=False)

In [14]:
def plus_one(x):
    return x+1
def sum_serie(x):
    return sum(x)

In [10]:
a=pd.DataFrame({"one":[1,2,3,4],
               "two":[2, 3, 4, 5]}, index=[5, 6, 7, 8])

In [11]:
a

   one  two
5    1    2
6    2    3
7    3    4
8    4    5

In [13]:
a.applymap(plus_one)

   one  two
5    2    3
6    3    4
7    4    5
8    5    6

In [15]:
sum_serie([1,2,3])

6

In [17]:
sum_serie(a['one'])

10

In [24]:
a.apply(plus_one)

   one  two
5    2    3
6    3    4
7    4    5
8    5    6

In [25]:
a.map(plus_one)

AttributeError: 'DataFrame' object has no attribute 'map'

In [26]:
a.one.map(plus_one)

5    2
6    3
7    4
8    5
Name: one, dtype: int64

In [27]:
a.one.map(sum_serie)

TypeError: 'numpy.int64' object is not iterable

In [28]:
a.apply(sum_serie)

one    10
two    14
dtype: int64