## Top 10 arrival airports in the world in 2013 (using the bookings file)

Arrival airport is the column arr_port. It is the IATA code for the airport

To get the total number of passengers for an airport, you can sum the column pax, grouping by arr_port.

Note that there is negative pax. That corresponds to cancelations. So to get the total number of passengers that have actually booked, you should sum including the negatives (that will remove the canceled bookings).

Print the top 10 arrival airports in the standard output, including the number of passengers.

Bonus point: Get the name of the city or airport corresponding to that airport (programatically, we suggest to have a look at GeoBases in Github)

Bonus point: Solve this problem using pandas (instead of any other approach)

Get familiar with data
Select the columns of interest
What to do with NaN?

Make action plan
Develop the code that works with a sample

Adjust the code to work with Big data
Test big data approach on a sample

Run program with big data

## 0) Prepare booking Sample (we might need this for later)

In [1]:
!pwd

/home/dsc/Python/DS_Master_A1_Chall

In [3]:
cd ~/Data/challenge/

/home/dsc/Data/challenge

In [4]:
ls -l

total 1014356
-rw-rw-r--. 1 dsc dsc 554970628 Jan  4  2016 bookings.csv.bz2
-rw-rw-r--  1 dsc dsc     54834 May  9 22:50 bookings.sample.csv.bz2
-rw-rw-r--  1 dsc dsc    425006 May  9 22:51 bookings.sample.csv.csv
-rw-rw-r--. 1 dsc dsc 483188920 Jan  4  2016 searches.csv.bz2
-rw-rw-r--  1 dsc dsc     33984 May  9 23:00 top_airports.csv

In [5]:
! bzcat bookings.csv.bz2 | head -10000 > bookings.sample.csv

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = bookings.csv.bz2, output file = (stdout)

In [6]:
! wc -l  bookings.sample.csv

10000 bookings.sample.csv

In [9]:
! bzip2 -f bookings.sample.csv
#without -f it fails if there is another compressed file with the same name

In [10]:
! bzcat bookings.sample.csv.bz2 | wc -l

10000

## 1) Get familiar with data

In [1]:
cd ../Data

/Users/igor.arambasic/dev/master/data

In [2]:
! echo "$SHELL"

/bin/zsh

In [3]:
! ls

bookings.csv            bookings.sample.csv     searches.csv
bookings.csv.bz2        bookings.sample.csv.bz2 searches.csv.bz2

In [4]:
import pandas as pd

### What if we dont want to read the whole file?

Options:
1) prepare the sample
2) read_csv with nrows option

In [21]:
b = pd.read_csv('bookings.sample.csv.bz2',sep='^')

In [25]:
b=pd.read_csv('bookings.csv.bz2',sep='^', nrows=10000)
#svaki put uzima od pocetka file-a

Commands for obtaining data info:
    b.shape  - object 
    b.info()

    b.columns
    b.columns.to_list()
    list(b.columns)
    
    b.head() -function
    b.sample()
    
    #pd.set_option('display.max_columns', 100)
    pd.set_option('display.max_columns', None)
    
    b.describe()
    b.describe(include='all')
    df.dtypes
    
    b.isnull().sum()
    non_null_counts = b.count()

In [27]:
b.shape

(10000, 38)

In [28]:
b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 38 columns):
act_date               10000 non-null object
source                 10000 non-null object
pos_ctry               10000 non-null object
pos_iata               10000 non-null object
pos_oid                10000 non-null object
rloc                   10000 non-null object
cre_date               10000 non-null object
duration               10000 non-null int64
distance               10000 non-null int64
dep_port               10000 non-null object
dep_city               10000 non-null object
dep_ctry               10000 non-null object
arr_port               10000 non-null object
arr_city               10000 non-null object
arr_ctry               10000 non-null object
lst_port               10000 non-null object
lst_city               10000 non-null object
lst_ctry               10000 non-null object
brd_port               10000 non-null object
brd_city               10000 non-null object
brd_ctry               10000 non-null object
off_port               10000 non-null object
off_city               10000 non-null object
off_ctry               10000 non-null object
mkt_port               10000 non-null object
mkt_city               10000 non-null object
mkt_ctry               10000 non-null object
intl                   10000 non-null int64
route                  10000 non-null object
carrier                10000 non-null object
bkg_class              10000 non-null object
cab_class              10000 non-null object
brd_time               10000 non-null object
off_time               10000 non-null object
pax                    10000 non-null int64
year                   10000 non-null int64
month                  10000 non-null int64
oid                    10000 non-null object
dtypes: int64(6), object(32)
memory usage: 2.9+ MB

In [30]:
b.columns

Index(['act_date           ', 'source', 'pos_ctry', 'pos_iata', 'pos_oid  ',
       'rloc          ', 'cre_date           ', 'duration', 'distance',
       'dep_port', 'dep_city', 'dep_ctry', 'arr_port', 'arr_city', 'arr_ctry',
       'lst_port', 'lst_city', 'lst_ctry', 'brd_port', 'brd_city', 'brd_ctry',
       'off_port', 'off_city', 'off_ctry', 'mkt_port', 'mkt_city', 'mkt_ctry',
       'intl', 'route          ', 'carrier', 'bkg_class', 'cab_class',
       'brd_time           ', 'off_time           ', 'pax', 'year', 'month',
       'oid      '],
      dtype='object')

In [17]:
list(b.columns)

['act_date           ',
 'source',
 'pos_ctry',
 'pos_iata',
 'pos_oid  ',
 'rloc          ',
 'cre_date           ',
 'duration',
 'distance',
 'dep_port',
 'dep_city',
 'dep_ctry',
 'arr_port',
 'arr_city',
 'arr_ctry',
 'lst_port',
 'lst_city',
 'lst_ctry',
 'brd_port',
 'brd_city',
 'brd_ctry',
 'off_port',
 'off_city',
 'off_ctry',
 'mkt_port',
 'mkt_city',
 'mkt_ctry',
 'intl',
 'route          ',
 'carrier',
 'bkg_class',
 'cab_class',
 'brd_time           ',
 'off_time           ',
 'pax',
 'year',
 'month',
 'oid      ']

In [40]:
"     sdfgfg    ".strip()
'     sdfgfg    '.strip()

'sdfgfg'

In [45]:
column_list=b.columns.tolist()

In [48]:
column_list_clean=[el.strip() for el in column_list]

In [50]:
column_list_clean

['act_date',
 'source',
 'pos_ctry',
 'pos_iata',
 'pos_oid',
 'rloc',
 'cre_date',
 'duration',
 'distance',
 'dep_port',
 'dep_city',
 'dep_ctry',
 'arr_port',
 'arr_city',
 'arr_ctry',
 'lst_port',
 'lst_city',
 'lst_ctry',
 'brd_port',
 'brd_city',
 'brd_ctry',
 'off_port',
 'off_city',
 'off_ctry',
 'mkt_port',
 'mkt_city',
 'mkt_ctry',
 'intl',
 'route',
 'carrier',
 'bkg_class',
 'cab_class',
 'brd_time',
 'off_time',
 'pax',
 'year',
 'month',
 'oid']

In [54]:
#b.columns.str.strip()
b.columns=b.columns.str.strip()

In [55]:
b.columns

Index(['act_date', 'source', 'pos_ctry', 'pos_iata', 'pos_oid', 'rloc',
       'cre_date', 'duration', 'distance', 'dep_port', 'dep_city', 'dep_ctry',
       'arr_port', 'arr_city', 'arr_ctry', 'lst_port', 'lst_city', 'lst_ctry',
       'brd_port', 'brd_city', 'brd_ctry', 'off_port', 'off_city', 'off_ctry',
       'mkt_port', 'mkt_city', 'mkt_ctry', 'intl', 'route', 'carrier',
       'bkg_class', 'cab_class', 'brd_time', 'off_time', 'pax', 'year',
       'month', 'oid'],
      dtype='object')

In [53]:
b.columns[0]

'act_date           '

In [57]:
b.sample(5)

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
5340,2013-03-25 00:00:00,1P,US,5855c33432e911e20a728627629a0f07,66ee1c4da4bec179b15bdf4695a81294,f0604783fd0505c54bf1cb8d937db406,2013-03-25 00:00:00,9007,0,BOS,...,BOSDCA,FD,V,Y,2013-04-14 10:00:00,2013-04-14 11:33:15,1,2013,3,NULL
1612,2013-03-20 00:00:00,1S,AU,c0621ee93165a91239cd4c49e7652bec,bf0784ab3abe1db74f6108d20d580404,8a284ba085c62ddbe2e22504deb69f17,2013-03-18 00:00:00,12400,0,PER,...,PERDXBIAH,OU,C,C,2013-05-17 22:30:00,2013-05-18 16:18:52,1,2013,3,NULL
9646,2013-03-25 00:00:00,1V,US,8e02641250e645dd948c61fbc8cbd889,22cee80d72e47f3ffcb52712c03f612d,fae99026bca673d03d34b841b048aa42,2013-03-06 00:00:00,6892,0,ATL,...,YULATL,NV,L,Y,2013-04-05 13:02:00,2013-04-05 15:42:50,-1,2013,3,NULL
2711,2013-03-05 00:00:00,1P,US,0bde7b929573cf16e0d52637cf0735d2,f187f1dfcac9833a7d7f90de67b24181,eb1eced9aa5cbaaae6f0b088f9fe869f,2013-03-05 00:00:00,4828,0,BHM,...,DENATLBHM,NV,T,Y,2013-04-28 07:45:00,2013-04-28 13:58:14,2,2013,3,NULL
5990,2013-03-28 00:00:00,1V,US,2c652e6a9336758534f2a23fa8001315,5dbcc2a56867a77dd2c6d5abeed73353,f121445fc69e7dfb9fa3bd522985fdad,2013-03-28 00:00:00,6581,0,LAX,...,LITDFWLAX,KK,O,Y,2013-05-11 17:05:00,2013-05-11 21:32:54,3,2013,3,NULL

In [58]:
#pd.set_option('display.max_columns', 100)
pd.set_option('display.max_columns', None)

In [59]:
b.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,ZRH,CH,LHR,LON,GB,ZRH,ZRH,CH,LHR,LON,GB,ZRH,ZRH,CH,LHRZRH,LONZRH,CHGB,1,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,SAL,SAL,SV,CLT,CLT,US,CLTSAL,CLTSAL,SVUS,1,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,CLTSAL,CLTSAL,SVUS,1,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,AKL,AKL,NZ,SVO,MOW,RU,AKLSVO,AKLMOW,NZRU,1,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,AKLSVO,AKLMOW,NZRU,1,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

In [60]:
b.describe()

,duration,distance,intl,pax,year,month
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.0,10000.0
mean,20209.543000,455.563300,0.596300,0.516300,2013.0,3.0
std,42241.125937,1738.810081,0.490663,1.783943,0.0,0.0
min,59.000000,0.000000,0.000000,-25.000000,2013.0,3.0
25%,3339.000000,0.000000,0.000000,-1.000000,2013.0,3.0
50%,7734.500000,0.000000,1.000000,1.000000,2013.0,3.0
75%,19077.000000,0.000000,1.000000,1.000000,2013.0,3.0
max,488131.000000,18481.000000,1.000000,25.000000,2013.0,3.0

In [61]:
description=b.describe()
type (description)

pandas.core.frame.DataFrame

In [62]:
description

,duration,distance,intl,pax,year,month
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.0,10000.0
mean,20209.543000,455.563300,0.596300,0.516300,2013.0,3.0
std,42241.125937,1738.810081,0.490663,1.783943,0.0,0.0
min,59.000000,0.000000,0.000000,-25.000000,2013.0,3.0
25%,3339.000000,0.000000,0.000000,-1.000000,2013.0,3.0
50%,7734.500000,0.000000,1.000000,1.000000,2013.0,3.0
75%,19077.000000,0.000000,1.000000,1.000000,2013.0,3.0
max,488131.000000,18481.000000,1.000000,25.000000,2013.0,3.0

In [63]:
b.describe()['distance']

count    10000.000000
mean       455.563300
std       1738.810081
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max      18481.000000
Name: distance, dtype: float64

In [64]:
b.describe().distance

count    10000.000000
mean       455.563300
std       1738.810081
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max      18481.000000
Name: distance, dtype: float64

In [65]:
b.describe(include='all')

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
count,10000,10000,10000,10000,10000,10000,10000,10000.000000,10000.000000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000.000000,10000,10000,10000,10000,10000,10000,10000.000000,10000.0,10000.0,10000
unique,31,5,112,2089,2271,3638,140,NaN,NaN,581,554,127,663,634,152,581,550,126,770,732,162,781,744,162,3396,3224,926,NaN,6080,179,27,4,6417,7219,NaN,NaN,NaN,389
top,2013-03-12 00:00:00,1A,US,83ccf07a55606976f78e63fcc805f58c,1490c3c5f95f04fa076fe15c775a80a9,ae15bcfc5aec0eb64b2c5204d08201d5,2013-03-12 00:00:00,NaN,NaN,LAX,NYC,US,LHR,NYC,US,LAX,NYC,US,LAX,NYC,US,LAX,NYC,US,JEDKHI,JEDKHI,USUS,NaN,KHIJED,NV,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,NaN,NaN,NaN,NULL
freq,769,3201,4839,435,435,42,1018,NaN,NaN,273,507,4600,212,391,3738,281,502,4559,228,435,4118,247,460,4170,52,52,3074,NaN,26,1354,851,8980,21,21,NaN,NaN,NaN,8428
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20209.543000,455.563300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.596300,NaN,NaN,NaN,NaN,NaN,NaN,0.516300,2013.0,3.0,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42241.125937,1738.810081,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.490663,NaN,NaN,NaN,NaN,NaN,NaN,1.783943,0.0,0.0,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,-25.000000,2013.0,3.0,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3339.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,-1.000000,2013.0,3.0,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7734.500000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,2013.0,3.0,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19077.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,2013.0,3.0,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,488131.000000,18481.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,25.000000,2013.0,3.0,NaN

In [66]:
b.isnull()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9971,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9972,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9973,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9974,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9975,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9976,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9977,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9978,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9979,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9980,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9981,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9982,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9983,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9984,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9985,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9986,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9987,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9988,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9989,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9990,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9991,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9992,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9993,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9994,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [67]:
b.isnull().sum()

act_date     0
source       0
pos_ctry     0
pos_iata     0
pos_oid      0
rloc         0
cre_date     0
duration     0
distance     0
dep_port     0
dep_city     0
dep_ctry     0
arr_port     0
arr_city     0
arr_ctry     0
lst_port     0
lst_city     0
lst_ctry     0
brd_port     0
brd_city     0
brd_ctry     0
off_port     0
off_city     0
off_ctry     0
mkt_port     0
mkt_city     0
mkt_ctry     0
intl         0
route        0
carrier      0
bkg_class    0
cab_class    0
brd_time     0
off_time     0
pax          0
year         0
month        0
oid          0
dtype: int64

In [68]:
non_null_counts = b.count()

In [37]:
non_null_counts

act_date     9999
source       9999
pos_ctry     9999
pos_iata     9999
pos_oid      9999
rloc         9999
cre_date     9999
duration     9999
distance     9999
dep_port     9999
dep_city     9999
dep_ctry     9999
arr_port     9999
arr_city     9999
arr_ctry     9999
lst_port     9999
lst_city     9999
lst_ctry     9999
brd_port     9999
brd_city     9999
brd_ctry     9999
off_port     9999
off_city     9999
off_ctry     9999
mkt_port     9999
mkt_city     9999
mkt_ctry     9999
intl         9999
route        9999
carrier      9999
bkg_class    9999
cab_class    9999
brd_time     9999
off_time     9999
pax          9999
year         9999
month        9999
oid          9999
dtype: int64

## 2) Select the columns of interest

In [81]:
b.sample(5)

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
1279,2013-03-11 00:00:00,1A,US,17d318f4222574eb569b7cec8c487f52,5658cd6848e769c951fbc3c9adcb400e,ebf31bb80442a40fa479ab1364cd1c47,2012-07-30 00:00:00,20077,0,IAH,HOU,US,IST,IST,TR,IAH,HOU,US,ATH,ATH,GR,IAH,HOU,US,ATHIAH,ATHHOU,GRUS,1,ATHCDGIAH,KP,N,Y,2013-06-22 07:05:00,2013-06-22 13:47:23,-2,2013,3,BOSGC3100
8374,2013-03-04 00:00:00,1P,US,83ccf07a55606976f78e63fcc805f58c,1490c3c5f95f04fa076fe15c775a80a9,09e2c9bf6851579262055a57ffc0cb56,2013-03-04 00:00:00,3901,0,LGA,NYC,US,ORD,CHI,US,LGA,NYC,US,LGA,NYC,US,ORD,CHI,US,LGAORD,CHINYC,USUS,0,LGAORD,KK,Q,Y,2013-05-04 06:30:00,2013-05-04 07:41:02,1,2013,3,NULL
1530,2013-03-25 00:00:00,1V,US,aa5ccfdd3bda30ed74a40e12a09e5c86,4b05bfb3873e3494bc9827181f17d24c,27176a146c4b228b2fce0f6b968faf11,2013-02-04 00:00:00,3448,0,BWI,WAS,US,CLT,CLT,US,BWI,WAS,US,BWI,WAS,US,CLT,CLT,US,BWICLT,CLTWAS,USUS,0,BWICLT,FD,U,Y,2013-03-27 12:10:00,2013-03-27 13:38:57,-1,2013,3,NULL
9265,2013-03-22 00:00:00,1P,GB,50c3d4cf73fb7400ebe5e3f9313eb877,3d2e97bbb2a72b81bab7647323daea77,6f2356f95d3dc5442f1ad76d7dd5de67,2013-03-22 00:00:00,706,0,ORD,CHI,US,LGA,NYC,US,ORD,CHI,US,LGA,NYC,US,ORD,CHI,US,LGAORD,CHINYC,USUS,0,LGAORD,KK,G,Y,2013-03-27 17:20:00,2013-03-27 18:31:02,1,2013,3,NULL
1178,2013-03-06 00:00:00,1P,US,608c519fe87f8de90e00c204efe5f2a8,6679d2064aeab314ef5c3f3c290352f6,5ddffe5768d84cbfc1c790a4ee2cfd9a,2013-03-06 00:00:00,28697,482,MAD,MAD,ES,OTP,BUH,RO,BCN,BCN,ES,MAD,MAD,ES,OTP,BUH,RO,MADOTP,BUHMAD,ESRO,1,MADOTP,CY,R,Y,2013-06-29 13:00:00,2013-06-29 17:41:27,1,2013,3,NULL

In [38]:
b = pd.read_csv('bookings.csv.bz2',sep='^',usecols=['arr_port','pax', 'year'], nrows=1000)

In [39]:
b.head()

   arr_port  pax  year
0  LHR        -1  2013
1  CLT         1  2013
2  CLT         1  2013
3  SVO         1  2013
4  SVO         1  2013

## 3) What to do with NaN?

in the sample everything might be ok, but we should prepare fot NaN case

In [40]:
b.isnull().sum()

arr_port    0
pax         0
year        0
dtype: int64

In [41]:
b.count()

arr_port    1000
pax         1000
year        1000
dtype: int64

In [42]:
b=b.dropna()

### What does df.dropna() do?

#### What if we want to drop just based on second column NaN?

## 4) Ready to code

What do we have so far?

In [82]:
import pandas as pd
b = pd.read_csv('bookings.csv.bz2',sep='^',usecols=['arr_port','pax','year'], nrows=100)
b=b.dropna()

In [83]:
len(b.dropna())

100

In [84]:
b.shape

(100, 3)

In [85]:
b.head()

   arr_port  pax  year
0  LHR        -1  2013
1  CLT         1  2013
2  CLT         1  2013
3  SVO         1  2013
4  SVO         1  2013

## 4) make action plan
1) get only the bookings from 2013

2) group by arr_port

3) sort 

4) get top 10

#### 4.1) Get only the booking from 2013

In [92]:
b = b[   b['year'] == 2013   ]
b.drop('year',axis=1, inplace=True)
b.head()

   arr_port  pax
0  LHR        -1
1  CLT         1
2  CLT         1
3  SVO         1
4  SVO         1

In [ ]:
import pandas as pd
b = pd.read_csv('bookings.csv.bz2',sep='^',usecols=['arr_port','pax','year'], nrows=100)
b=b.dropna()
b = b[   b['year'] == 2013   ]
b.drop('year',axis=1, inplace=True)
b.head()

In [93]:
b['pax'].head()

0   -1
1    1
2    1
3    1
4    1
Name: pax, dtype: int64

In [95]:
b[['arr_port', 'pax']].head()
b[['pax','arr_port']].head()

   pax  arr_port
0   -1  LHR
1    1  CLT
2    1  CLT
3    1  SVO
4    1  SVO

In [98]:
import pandas as pd
b = pd.read_csv('bookings.csv.bz2',sep='^',usecols=['arr_port','pax','year'], nrows=100)
b=b.dropna()

In [99]:
b[b['year'] == 2013][['arr_port', 'pax']].head()

   arr_port  pax
0  LHR        -1
1  CLT         1
2  CLT         1
3  SVO         1
4  SVO         1

In [100]:
import pandas as pd
b = pd.read_csv('bookings.csv.bz2',sep='^',usecols=['arr_port','pax','year'], nrows=100)
b=b.dropna()
b=b[b['year'] == 2013][['arr_port', 'pax']]


#### 4.2) group by arr_port

In [101]:
b.head()

   arr_port  pax
0  LHR        -1
1  CLT         1
2  CLT         1
3  SVO         1
4  SVO         1

In [102]:
#Put this in groupby playground
arr_ports=b.groupby('arr_port')

In [109]:
arr_ports
#arr_ports(1) --> error
#arr_ports[1] --> error

In [104]:
type(arr_ports)

pandas.core.groupby.groupby.DataFrameGroupBy

In [103]:
arr_ports.groups

{'ALA     ': Int64Index([76, 77], dtype='int64'),
 'ALG     ': Int64Index([34, 35, 36, 37], dtype='int64'),
 'AYT     ': Int64Index([81, 82, 83], dtype='int64'),
 'BLR     ': Int64Index([49, 50, 51], dtype='int64'),
 'BWI     ': Int64Index([52, 53], dtype='int64'),
 'CDG     ': Int64Index([93, 94], dtype='int64'),
 'CLT     ': Int64Index([1, 2], dtype='int64'),
 'CTA     ': Int64Index([20, 21], dtype='int64'),
 'CVG     ': Int64Index([85, 86, 87, 88, 89, 90], dtype='int64'),
 'DEL     ': Int64Index([54, 55, 56, 57], dtype='int64'),
 'DMM     ': Int64Index([38, 39, 40, 41, 42, 43], dtype='int64'),
 'FCO     ': Int64Index([78, 79, 80], dtype='int64'),
 'HAV     ': Int64Index([95, 96, 97, 98], dtype='int64'),
 'LED     ': Int64Index([44], dtype='int64'),
 'LGA     ': Int64Index([5, 6], dtype='int64'),
 'LHR     ': Int64Index([0], dtype='int64'),
 'LIS     ': Int64Index([45, 46, 47, 48], dtype='int64'),
 'MNL     ': Int64Index([59, 60, 61, 62, 63, 64], dtype='int64'),
 'MVD     ': Int64Index([84], dtype='int64'),
 'NRT     ': Int64Index([99], dtype='int64'),
 'OTP     ': Int64Index([91, 92], dtype='int64'),
 'PVG     ': Int64Index([30, 31, 32], dtype='int64'),
 'SGC     ': Int64Index([33], dtype='int64'),
 'SIN     ': Int64Index([7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18], dtype='int64'),
 'SVO     ': Int64Index([3, 4], dtype='int64'),
 'TPA     ': Int64Index([58], dtype='int64'),
 'TUS     ': Int64Index([19], dtype='int64'),
 'ULN     ': Int64Index([65, 66], dtype='int64'),
 'YWG     ': Int64Index([22, 23, 24, 25, 26, 27, 28, 29], dtype='int64'),
 'ZRH     ': Int64Index([67, 68, 69, 70, 71, 72, 73, 74, 75], dtype='int64')}

In [104]:
arr_ports.get_group('ALA     ')

    arr_port  pax
76  ALA         1
77  ALA         1

In [117]:
type(arr_ports.get_group('ALA     '))

pandas.core.frame.DataFrame

In [120]:
for airport, val in arr_ports:
    print (airport)
    print (val)
    print ("------------------")
    
    #print (val['pax'].sum())

ALA
    arr_port  pax
76  ALA         1
77  ALA         1
------------------
ALG
    arr_port  pax
34  ALG         1
35  ALG         1
36  ALG        -1
37  ALG        -1
------------------
AYT
    arr_port  pax
81  AYT         3
82  AYT         3
83  AYT        -3
------------------
BLR
    arr_port  pax
49  BLR         1
50  BLR         1
51  BLR        -1
------------------
BWI
    arr_port  pax
52  BWI         3
53  BWI         3
------------------
CDG
    arr_port  pax
93  CDG         1
94  CDG         1
------------------
CLT
   arr_port  pax
1  CLT         1
2  CLT         1
------------------
CTA
    arr_port  pax
20  CTA        -2
21  CTA         2
------------------
CVG
    arr_port  pax
85  CVG         1
86  CVG         1
87  CVG        -1
88  CVG        -1
89  CVG         1
90  CVG         1
------------------
DEL
    arr_port  pax
54  DEL         1
55  DEL         1
56  DEL        -1
57  DEL        -1
------------------
DMM
    arr_port  pax
38  DMM         2
39  DMM         2
40  DMM        -2
41  DMM        -2
42  DMM         1
43  DMM         1
------------------
FCO
    arr_port  pax
78  FCO         1
79  FCO         1
80  FCO         1
------------------
HAV
    arr_port  pax
95  HAV         6
96  HAV         6
97  HAV        -6
98  HAV        -6
------------------
LED
    arr_port  pax
44  LED         1
------------------
LGA
   arr_port  pax
5  LGA         1
6  LGA         1
------------------
LHR
   arr_port  pax
0  LHR        -1
------------------
LIS
    arr_port  pax
45  LIS         2
46  LIS         2
47  LIS        -2
48  LIS         2
------------------
MNL
    arr_port  pax
59  MNL        -2
60  MNL        -2
61  MNL         2
62  MNL         2
63  MNL        -2
64  MNL         2
------------------
MVD
    arr_port  pax
84  MVD         2
------------------
NRT
    arr_port  pax
99  NRT         6
------------------
OTP
    arr_port  pax
91  OTP         1
92  OTP         1
------------------
PVG
    arr_port  pax
30  PVG         2
31  PVG         2
32  PVG         2
------------------
SGC
    arr_port  pax
33  SGC         1
------------------
SIN
    arr_port  pax
7   SIN         2
8   SIN         2
9   SIN         2
10  SIN         2
11  SIN        -2
12  SIN        -2
13  SIN        -2
14  SIN        -2
15  SIN         1
16  SIN         1
17  SIN         1
18  SIN         1
------------------
SVO
   arr_port  pax
3  SVO         1
4  SVO         1
------------------
TPA
    arr_port  pax
58  TPA         2
------------------
TUS
    arr_port  pax
19  TUS         1
------------------
ULN
    arr_port  pax
65  ULN         1
66  ULN         1
------------------
YWG
    arr_port  pax
22  YWG         2
23  YWG         2
24  YWG        -2
25  YWG         2
26  YWG         2
27  YWG        -2
28  YWG        -2
29  YWG         2
------------------
ZRH
    arr_port  pax
67  ZRH        -1
68  ZRH         1
69  ZRH         1
70  ZRH        -1
71  ZRH        -1
72  ZRH        -1
73  ZRH        -1
74  ZRH         1
75  ZRH         1
------------------

In [116]:
type(val)

pandas.core.frame.DataFrame

In [122]:
for i, (airport, val) in enumerate(arr_ports):
    print ("group by=%s" %(airport))
    #print "values inside:",val
    print ("values inside:\n%s"%(val))
    print ("pax at %s airport in 2013: %i"%(airport, val['pax'].sum()))
    print ("------------------")
    if (i==5) :break

group by=ALA
values inside:
    arr_port  pax
76  ALA         1
77  ALA         1
pax at ALA      airport in 2013: 2
------------------
group by=ALG
values inside:
    arr_port  pax
34  ALG         1
35  ALG         1
36  ALG        -1
37  ALG        -1
pax at ALG      airport in 2013: 0
------------------
group by=AYT
values inside:
    arr_port  pax
81  AYT         3
82  AYT         3
83  AYT        -3
pax at AYT      airport in 2013: 3
------------------
group by=BLR
values inside:
    arr_port  pax
49  BLR         1
50  BLR         1
51  BLR        -1
pax at BLR      airport in 2013: 1
------------------
group by=BWI
values inside:
    arr_port  pax
52  BWI         3
53  BWI         3
pax at BWI      airport in 2013: 6
------------------
group by=CDG
values inside:
    arr_port  pax
93  CDG         1
94  CDG         1
pax at CDG      airport in 2013: 2
------------------

In [134]:
arr_ports['pax']

In [135]:
arr_ports['pax'].groups

{'ALA     ': Int64Index([76, 77], dtype='int64'),
 'ALG     ': Int64Index([34, 35, 36, 37], dtype='int64'),
 'AYT     ': Int64Index([81, 82, 83], dtype='int64'),
 'BLR     ': Int64Index([49, 50, 51], dtype='int64'),
 'BWI     ': Int64Index([52, 53], dtype='int64'),
 'CDG     ': Int64Index([93, 94], dtype='int64'),
 'CLT     ': Int64Index([1, 2], dtype='int64'),
 'CTA     ': Int64Index([20, 21], dtype='int64'),
 'CVG     ': Int64Index([85, 86, 87, 88, 89, 90], dtype='int64'),
 'DEL     ': Int64Index([54, 55, 56, 57], dtype='int64'),
 'DMM     ': Int64Index([38, 39, 40, 41, 42, 43], dtype='int64'),
 'FCO     ': Int64Index([78, 79, 80], dtype='int64'),
 'HAV     ': Int64Index([95, 96, 97, 98], dtype='int64'),
 'LED     ': Int64Index([44], dtype='int64'),
 'LGA     ': Int64Index([5, 6], dtype='int64'),
 'LHR     ': Int64Index([0], dtype='int64'),
 'LIS     ': Int64Index([45, 46, 47, 48], dtype='int64'),
 'MNL     ': Int64Index([59, 60, 61, 62, 63, 64], dtype='int64'),
 'MVD     ': Int64Index([84], dtype='int64'),
 'NRT     ': Int64Index([99], dtype='int64'),
 'OTP     ': Int64Index([91, 92], dtype='int64'),
 'PVG     ': Int64Index([30, 31, 32], dtype='int64'),
 'SGC     ': Int64Index([33], dtype='int64'),
 'SIN     ': Int64Index([7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18], dtype='int64'),
 'SVO     ': Int64Index([3, 4], dtype='int64'),
 'TPA     ': Int64Index([58], dtype='int64'),
 'TUS     ': Int64Index([19], dtype='int64'),
 'ULN     ': Int64Index([65, 66], dtype='int64'),
 'YWG     ': Int64Index([22, 23, 24, 25, 26, 27, 28, 29], dtype='int64'),
 'ZRH     ': Int64Index([67, 68, 69, 70, 71, 72, 73, 74, 75], dtype='int64')}

In [138]:
arr_ports['pax'].get_group('ALA     ')

76    1
77    1
Name: pax, dtype: int64

In [139]:
type(arr_ports['pax'].get_group('ALA     ')) #NOT a dataframe anymore!!!

pandas.core.series.Series

In [140]:
for i, (airport, val) in enumerate(arr_ports['pax']):
    print ("group by=%s" %(airport))
    #print "values inside:",val
    print ("values inside:\n%s"%(val))
    print ("pax at %s airport in 2013: %i"%(airport, val.sum()))
    print ("------------------")
    if (i==5) :break

group by=ALA
values inside:
76    1
77    1
Name: pax, dtype: int64
pax at ALA      airport in 2013: 2
------------------
group by=ALG
values inside:
34    1
35    1
36   -1
37   -1
Name: pax, dtype: int64
pax at ALG      airport in 2013: 0
------------------
group by=AYT
values inside:
81    3
82    3
83   -3
Name: pax, dtype: int64
pax at AYT      airport in 2013: 3
------------------
group by=BLR
values inside:
49    1
50    1
51   -1
Name: pax, dtype: int64
pax at BLR      airport in 2013: 1
------------------
group by=BWI
values inside:
52    3
53    3
Name: pax, dtype: int64
pax at BWI      airport in 2013: 6
------------------
group by=CDG
values inside:
93    1
94    1
Name: pax, dtype: int64
pax at CDG      airport in 2013: 2
------------------

In [141]:
arr_ports['pax'].sum()

arr_port
ALA         2
ALG         0
AYT         3
BLR         1
BWI         6
CDG         2
CLT         2
CTA         0
CVG         2
DEL         0
DMM         2
FCO         3
HAV         0
LED         1
LGA         2
LHR        -1
LIS         4
MNL         0
MVD         2
NRT         6
OTP         2
PVG         6
SGC         1
SIN         4
SVO         2
TPA         2
TUS         1
ULN         2
YWG         4
ZRH        -1
Name: pax, dtype: int64

In [142]:
arr_ports['pax'].sum().index

Index(['ALA     ', 'ALG     ', 'AYT     ', 'BLR     ', 'BWI     ', 'CDG     ',
       'CLT     ', 'CTA     ', 'CVG     ', 'DEL     ', 'DMM     ', 'FCO     ',
       'HAV     ', 'LED     ', 'LGA     ', 'LHR     ', 'LIS     ', 'MNL     ',
       'MVD     ', 'NRT     ', 'OTP     ', 'PVG     ', 'SGC     ', 'SIN     ',
       'SVO     ', 'TPA     ', 'TUS     ', 'ULN     ', 'YWG     ', 'ZRH     '],
      dtype='object', name='arr_port')

In [124]:
type(arr_ports.sum())

pandas.core.frame.DataFrame

In [144]:
arr_ports.sum().head()

          pax
arr_port
ALA         2
ALG         0
AYT         3
BLR         1
BWI         6

In [145]:
arr_ports.sum().index

Index(['ALA     ', 'ALG     ', 'AYT     ', 'BLR     ', 'BWI     ', 'CDG     ',
       'CLT     ', 'CTA     ', 'CVG     ', 'DEL     ', 'DMM     ', 'FCO     ',
       'HAV     ', 'LED     ', 'LGA     ', 'LHR     ', 'LIS     ', 'MNL     ',
       'MVD     ', 'NRT     ', 'OTP     ', 'PVG     ', 'SGC     ', 'SIN     ',
       'SVO     ', 'TPA     ', 'TUS     ', 'ULN     ', 'YWG     ', 'ZRH     '],
      dtype='object', name='arr_port')

In [119]:
type(arr_ports['pax'].sum())

pandas.core.series.Series

In [126]:
type(arr_ports.sum()['pax'])

pandas.core.series.Series

In [146]:
arr_ports.sum().sort_values('pax', ascending=False).head()

          pax
arr_port
BWI         6
PVG         6
NRT         6
YWG         4
SIN         4

In [147]:
topAirports = b.dropna().groupby(['arr_port']).sum().sort_values('pax', ascending=False).head(10)
#returns panda DataFrame

#topAirports = b.dropna().groupby(['arr_port']).sum().sort_values('pax', ascending=False)['pax'].head(10)
#topAirports = b.dropna().groupby(['arr_port'])['pax'].sum().sort_values(ascending=False).head(10)
#these two return panda Series
topAirports

          pax
arr_port
BWI         6
PVG         6
NRT         6
YWG         4
SIN         4
LIS         4
AYT         3
FCO         3
ALA         2
TPA         2

## 5) Adjust the code to work with Big data

What do we have so far?

In [153]:
import pandas as pd

file_name='bookings.csv.bz2'
b = pd.read_csv(file_name,sep='^',usecols=['arr_port','pax','year'], nrows=1000)

#path='/home/dsc/Data/challenge'
#b = pd.read_csv(path+'/'+file_name,sep='^',usecols=['arr_port','pax','year'], nrows=100)

b=b[b['year'] == 2013]\
    [['arr_port','pax']]\
    .dropna()\
    .groupby(['arr_port'])\
    .sum()\
    .sort_values('pax', ascending=False)

print(type(b))
b.head(10)

<class 'pandas.core.frame.DataFrame'>

          pax
arr_port
DCA        50
JFK        14
FLL        13
PVG        13
CGK        12
LGA        12
SVO        12
LAS        11
BOS        11
MIA        11

In [159]:
import pandas as pd
file_name='bookings.csv.bz2'
b = pd.read_csv(file_name,sep='^',usecols=['arr_port','pax','year'], nrows=1000)

#path='/home/dsc/Data/challenge'
#b = pd.read_csv(path+'/'+file_name,sep='^',usecols=['arr_port','pax','year'], nrows=100)
b=b[b['year'] == 2013]\
    [['arr_port','pax']]\
    .dropna()\
    .groupby(['arr_port'])['pax'].sum().sort_values(ascending=False)

print (type(b))
b.head(10)
#pd.DataFrame(b)

<class 'pandas.core.series.Series'>

arr_port
DCA         50
JFK         14
FLL         13
PVG         13
SVO         12
LGA         12
CGK         12
MIA         11
LAS         11
BOS         11
Name: pax, dtype: int64

In [160]:
pd.DataFrame(b).head()

          pax
arr_port
DCA        50
JFK        14
FLL        13
PVG        13
SVO        12

#### but... we have to read the whole file... and with nrows we are reading ALWAYS the first N rows...

We know number of lines from the first exercise: 10 000 011

Option for reading the file:
    1) iterator=true and get_chunk
    2) define chunk_size

#### 1) iterator=true and get_chunk

In [165]:
%%time
b=pd.read_csv('./bookings.sample.csv.bz2',sep='^',usecols=['arr_port','pax', 'year'], iterator=True)
print (type(b))
b0=b.get_chunk(6000)
b1=b.get_chunk(3000)
#b2=b.get_chunk(10001)
#the last chunk does not fail if no more elements are present
#but if you call it again it will fail 
#b3=b.get_chunk(1)

#print b0.head()
#print b1
#print b2

<class 'pandas.io.parsers.TextFileReader'>
CPU times: user 197 ms, sys: 12.5 ms, total: 209 ms
Wall time: 214 ms

In [168]:
b_the_rest=next(b) #reads till the end of file if size is not defined

In [170]:
b_the_rest.shape

(999, 3)

#### 2) define chunk size

In [171]:
bc = pd.read_csv('bookings.sample.csv.bz2',sep='^',usecols=['arr_port','pax', 'year'], chunksize=10)
type (bc)

pandas.io.parsers.TextFileReader

In [172]:
b0=next(bc)

In [176]:
for i in range(5):
    b=next(bc)
    print (b)
    print("----------------------")

    arr_port  pax  year
60  MNL        -2  2013
61  MNL         2  2013
62  MNL         2  2013
63  MNL        -2  2013
64  MNL         2  2013
65  ULN         1  2013
66  ULN         1  2013
67  ZRH        -1  2013
68  ZRH         1  2013
69  ZRH         1  2013
----------------------
    arr_port  pax  year
70  ZRH        -1  2013
71  ZRH        -1  2013
72  ZRH        -1  2013
73  ZRH        -1  2013
74  ZRH         1  2013
75  ZRH         1  2013
76  ALA         1  2013
77  ALA         1  2013
78  FCO         1  2013
79  FCO         1  2013
----------------------
    arr_port  pax  year
80  FCO         1  2013
81  AYT         3  2013
82  AYT         3  2013
83  AYT        -3  2013
84  MVD         2  2013
85  CVG         1  2013
86  CVG         1  2013
87  CVG        -1  2013
88  CVG        -1  2013
89  CVG         1  2013
----------------------
    arr_port  pax  year
90  CVG         1  2013
91  OTP         1  2013
92  OTP         1  2013
93  CDG         1  2013
94  CDG         1  2013
95  HAV         6  2013
96  HAV         6  2013
97  HAV        -6  2013
98  HAV        -6  2013
99  NRT         6  2013
----------------------
     arr_port  pax  year
100  BKK         1  2013
101  BKK         1  2013
102  BWI         2  2013
103  BWI         2  2013
104  MEX         1  2013
105  SAV         6  2013
106  EWR         1  2013
107  EWR         1  2013
108  SFO         1  2013
109  DTW         1  2013
----------------------

In [177]:
a=enumerate(bc)

In [182]:
(iteration_number, values)=next(a)

In [183]:
iteration_number

0

In [184]:
values

     arr_port  pax  year
110  DTW         1  2013
111  OMA         1  2013
112  OMA         1  2013
113  OMA        -1  2013
114  OMA         1  2013
115  OMA        -1  2013
116  YVR         1  2013
117  YVR         1  2013
118  ACC         3  2013
119  ACC         3  2013

In [186]:
for i,chunk in enumerate(bc):
    print (chunk.head())
    print("------------------")
    if i==3 :
        break

     arr_port  pax  year
120  SDF         1  2013
121  SDF         1  2013
122  LGA         1  2013
123  LGA         1  2013
124  CDG         1  2013
------------------
     arr_port  pax  year
130  TLV        -1  2013
131  TLV        -1  2013
132  ELP         3  2013
133  ELP         3  2013
134  ELP        -3  2013
------------------
     arr_port  pax  year
140  HMO         1  2013
141  LAS         4  2013
142  LAS         4  2013
143  BOI         1  2013
144  BOI         1  2013
------------------
     arr_port  pax  year
150  OTP        -2  2013
151  BBI        -1  2013
152  BBI         1  2013
153  ISB         1  2013
154  ISB         1  2013
------------------

In [199]:
bc = pd.read_csv('bookings.sample.csv.bz2',sep='^',usecols=['arr_port','pax', 'year'], chunksize=4000)
for i,chunk in enumerate(bc):
    chunk_airports=chunk[chunk['year'] == 2013]\
        [['arr_port','pax']]\
        .dropna()\
        .groupby(['arr_port'])\
        .sum()\
        .sort_values('pax', ascending=False)
    print ("Chank Nummber:%d     Size:%d" % (i, len(chunk)))
chunk_airports.head()

Chank Nummber:0     Size:4000
Chank Nummber:1     Size:4000
Chank Nummber:2     Size:1999

          pax
arr_port
HKG        56
MCO        34
LGA        31
JFK        31
ORD        26

We will do sort at the end!
we should be able to sum up numbers belonging to the same airport
for now the airport code is part of the index
Can I have duplicated values in index? --> YES

In [217]:
col=["c1","c2", "c3"]
index=["11","11", "111"]
values=[["a", "b","c"], ["a", "b","c"], ["a", "b","c"]]
mydf=pd.DataFrame(values,index, col)
mydf

    c1 c2 c3
11   a  b  c
11   a  b  c
111  a  b  c

In [205]:
chunk_airports.groupby(chunk_airports.index)

In [7]:
#OLD
##%%time
bc = pd.read_csv('bookings.sample.csv.bz2',sep='^',usecols=['arr_port','pax'], chunksize=4000)
for i,chunk in enumerate(bc):
    chunk_airports=chunk.dropna().groupby(['arr_port']).sum().head()
    #chunk_airports=chunk.dropna().groupby(['arr_port']).sum().reset_index().head()
    print ("Chank Nummber:%d" % i)
    print (chunk_airports)

Chank Nummber:0
          pax
arr_port
ABQ         4
ABV         0
ABZ        -2
ACC         0
ADD         4
Chank Nummber:1
          pax
arr_port
AAL         0
ABQ         8
ABV         2
ABZ        -4
ACC         2
Chank Nummber:2
          pax
arr_port
ACC         2
ADZ         2
AEP         2
AFA         2
AJA         4

#### How do we get the all the results of all chunks at one place?

Options:
    1) df.append()
    2) df.concat()
    
    3) list of small DF and then concatenate them in one DF
    4) use dictionary instead of df

#### 1) df.append()

In [19]:
bc = pd.read_csv('bookings.sample.csv.bz2',sep='^',usecols=['arr_port','pax', 'year'], chunksize=4000)
sum_all_chunks = pd.DataFrame()

for i,chunk in enumerate(bc):
    chunk_airports=chunk[chunk['year'] == 2013]\
        [['arr_port','pax']]\
        .dropna()\
        .groupby(['arr_port'])\
        .sum()
    sum_all_chunks=sum_all_chunks.append(chunk_airports)
    print ("Chank Nummber:%d     Size:%d" % (i, len(chunk)))
print(sum_all_chunks.shape)
sum_all_chunks.sort_values('pax',ascending=False).head()#this is not the final resault! 
#we are just getting the answer to the highest number of booking per aiport per chunk
#we should groupby again

Chank Nummber:0     Size:4000
Chank Nummber:1     Size:4000
Chank Nummber:2     Size:1999
(1182, 1)

          pax
arr_port
HKG        56
DCA        54
DEN        49
IAD        46
SFO        45

#### 2) df.concat()

In [16]:
bc = pd.read_csv('bookings.sample.csv.bz2',sep='^',usecols=['arr_port','pax', 'year'], chunksize=4000)
sum_all_chunks = pd.DataFrame()

for i,chunk in enumerate(bc):
    chunk_airports=chunk[chunk['year'] == 2013]\
        [['arr_port','pax']]\
        .dropna()\
        .groupby(['arr_port'])\
        .sum()
    sum_all_chunks=pd.concat([sum_all_chunks,chunk_airports])
    print ("Chank Nummber:%d     Size:%d" % (i, len(chunk)))
print(sum_all_chunks.shape)
sum_all_chunks.sort_values('pax',ascending=False).head()

Chank Nummber:0     Size:4000
Chank Nummber:1     Size:4000
Chank Nummber:2     Size:1999
(1182, 1)

          pax
arr_port
HKG        56
DCA        54
DEN        49
IAD        46
SFO        45

 #### Concat and append should produce the same result

In [152]:
#with reset index and group by over column
sum_chunks=pd.DataFrame()
bc = pd.read_csv('bookings.sample.csv.bz2',sep='^',usecols=['arr_port','pax'], chunksize=4000)
for i,chunk in enumerate(bc):
    chunk_airports=chunk.dropna().groupby(['arr_port']).sum().reset_index()
    sum_chunks=sum_chunks.append(chunk_airports)
#sum_chunks
topairports=sum_chunks.groupby('arr_port').pax.sum().sort_values(ascending=False).reset_index().head(10) 
topairports

   arr_port  pax
0  DCA        50
1  JFK        14
2  FLL        13
3  PVG        13
4  SVO        12
5  LGA        12
6  CGK        12
7  MIA        11
8  LAS        11
9  BOS        11

In [154]:
#without reset_index with group by over index
sum_chunks=pd.DataFrame()
bc = pd.read_csv('bookings.sample.csv.bz2',sep='^',usecols=['arr_port','pax'], chunksize=400)
for i,chunk in enumerate(bc):
    chunk_airports=chunk.dropna().groupby(['arr_port']).sum()
    sum_chunks=sum_chunks.append(chunk_airports)
#sum_chunks
topairports=sum_chunks.groupby(sum_chunks.index).pax.sum().sort_values(ascending=False).head(10) 
print topairports
topairports.reset_index()

arr_port
DCA         50
JFK         14
FLL         13
PVG         13
SVO         12
LGA         12
CGK         12
MIA         11
LAS         11
BOS         11
Name: pax, dtype: int64

   arr_port  pax
0  DCA        50
1  JFK        14
2  FLL        13
3  PVG        13
4  SVO        12
5  LGA        12
6  CGK        12
7  MIA        11
8  LAS        11
9  BOS        11

#### 3) list of small DF and then concatenate the list in one DF

In [20]:
bc = pd.read_csv('bookings.sample.csv.bz2',sep='^',usecols=['arr_port','pax', 'year'], chunksize=4000)
tops = []
for b in bc:
    small_df=b[b['year'] == 2013]\
        [['arr_port','pax']]\
    .dropna().groupby('arr_port').sum()
    #print list_top[:10]
    tops.append(small_df)
    
top = pd.concat(tops) 
print(top.shape)
top.sort_values('pax',ascending=False).head()
#top

(1182, 1)

          pax
arr_port
HKG        56
DCA        54
DEN        49
IAD        46
SFO        45

In [12]:
print (type(tops))
print (type(tops[0]))
print (type (top))

<class 'list'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [21]:
tops[1].head()

          pax
arr_port
AAL         0
ABQ         8
ABV         2
ABZ        -4
ACC         2

In [22]:
topairports=top.groupby('arr_port').pax.sum().sort_values(ascending=False).reset_index().head(10) 
topairports

   arr_port  pax
0  HKG       112
1  LGA        95
2  ORD        94
3  JFK        92
4  SFO        91
5  LAX        91
6  MCO        90
7  DCA        82
8  DEN        79
9  LHR        76

#### 4) Dictionary

In [164]:
b = pd.read_csv('bookings.sample.csv.bz2',sep='^',usecols=['arr_port','pax'])
#bc = pd.read_csv('bookings.sample.csv.bz2',sep='^',usecols=['arr_port','pax'], chunksize=400)

tops_dict = dict() # moze ovako ili {}
#tops_dict = {}

In [165]:
a=b.dropna().groupby('arr_port').sum().sort_values('pax',ascending=False).reset_index()

In [166]:
a.head()

   arr_port  pax
0  DCA        50
1  JFK        14
2  FLL        13
3  PVG        13
4  CGK        12

In [167]:
a['arr_port'][0]

'DCA     '

In [168]:
d={}
d['Master']='One'

In [171]:
d['Master']

'two'

In [170]:
d['Master']='two'

In [172]:
d['Master']=d['Master']+'one'
d['Master']

'twoone'

In [173]:
d['number']=1
d['number']=d['number']+2
d['number']

3

In [24]:
bc = pd.read_csv('bookings.sample.csv.bz2',sep='^',usecols=['arr_port','pax', 'year'], chunksize=4000)
tops_dict = {}
for b in bc:
    a=b[b['year'] == 2013]\
        [['arr_port','pax']]\
        .dropna().groupby('arr_port').sum().sort_values('pax',ascending=False).reset_index()
    for i, row in enumerate(a.iterrows()) :
        airports_name = a.arr_port[i]
        if (not airports_name in tops_dict):
            tops_dict[airports_name]=a.pax[i]
        else:
            tops_dict[airports_name]=tops_dict[airports_name]+a.pax[i]

In [25]:
keys=tops_dict.keys()

In [34]:
keys

dict_keys(['DCA     ', 'DEN     ', 'SFO     ', 'PVG     ', 'LAX     ', 'ORD     ', 'JFK     ', 'MCO     ', 'LGA     ', 'HKG     ', 'ATL     ', 'LAS     ', 'MIA     ', 'BOS     ', 'LHR     ', 'PHX     ', 'IST     ', 'FLL     ', 'PUJ     ', 'LIN     ', 'BCN     ', 'BWI     ', 'DFW     ', 'AMS     ', 'USM     ', 'EWR     ', 'FCO     ', 'SVO     ', 'SJU     ', 'IAH     ', 'MEX     ', 'MEM     ', 'DOH     ', 'YYZ     ', 'MEL     ', 'DXB     ', 'FRA     ', 'YVR     ', 'NRT     ', 'CGK     ', 'ORY     ', 'ATH     ', 'ALG     ', 'TPA     ', 'PVR     ', 'PHL     ', 'BOM     ', 'DTW     ', 'CLT     ', 'MSY     ', 'SJC     ', 'STT     ', 'ICN     ', 'HNL     ', 'DUS     ', 'LCY     ', 'MCI     ', 'MAN     ', 'BEY     ', 'MNL     ', 'PDX     ', 'DUR     ', 'CAI     ', 'CUN     ', 'CVG     ', 'MUC     ', 'BNE     ', 'BKK     ', 'YUL     ', 'SAV     ', 'SEA     ', 'AGP     ', 'MGA     ', 'SAT     ', 'ARN     ', 'TXL     ', 'GUA     ', 'RDU     ', 'LIS     ', 'STL     ', 'BJV     ', 'BNA     ', 'CMN     ', 'EBL     ', 'TLV     ', 'SDQ     ', 'COK     ', 'SAN     ', 'SLC     ', 'ALC     ', 'SJD     ', 'CAN     ', 'IAS     ', 'ALA     ', 'VIE     ', 'OKC     ', 'SGN     ', 'BRU     ', 'LCG     ', 'GVA     ', 'GSP     ', 'YEG     ', 'BJX     ', 'MYR     ', 'WAW     ', 'JNB     ', 'PBI     ', 'COS     ', 'SDF     ', 'TSA     ', 'SNA     ', 'LIR     ', 'BGI     ', 'MQN     ', 'BCD     ', 'HER     ', 'BOG     ', 'PER     ', 'GRR     ', 'MSN     ', 'NCE     ', 'AEP     ', 'CMH     ', 'MRS     ', 'PIT     ', 'DEL     ', 'DAC     ', 'IND     ', 'BUF     ', 'ORN     ', 'YHZ     ', 'RSW     ', 'KBP     ', 'GOT     ', 'RNO     ', 'LIM     ', 'ADD     ', 'YZF     ', 'KUL     ', 'SMF     ', 'PAP     ', 'SGF     ', 'SKG     ', 'YWG     ', 'SHV     ', 'HYD     ', 'AMM     ', 'HKT     ', 'HUX     ', 'PNH     ', 'DRW     ', 'ULN     ', 'BOI     ', 'MSO     ', 'PRG     ', 'POS     ', 'TGD     ', 'DKR     ', 'UIO     ', 'BLQ     ', 'CZM     ', 'CEK     ', 'PIA     ', 'TLS     ', 'CTA     ', 'CNS     ', 'MBJ     ', 'ABQ     ', 'FAI     ', 'NAP     ', 'NBO     ', 'SOF     ', 'FLR     ', 'OTP     ', 'EZE     ', 'RGN     ', 'SUF     ', 'JAX     ', 'DME     ', 'AUS     ', 'CMB     ', 'MCT     ', 'MHT     ', 'MKE     ', 'QOW     ', 'ZRH     ', 'TIP     ', 'MME     ', 'MGW     ', 'LIT     ', 'ROA     ', 'RKS     ', 'MKG     ', 'MIR     ', 'REN     ', 'PAD     ', 'NTE     ', 'LTN     ', 'MXP     ', 'QJZ     ', 'MDE     ', 'OAJ     ', 'OMA     ', 'MSP     ', 'OAK     ', 'LED     ', 'MAD     ', 'MVD     ', 'MAF     ', 'MPM     ', 'GDN     ', 'KHI     ', 'CLE     ', 'TYR     ', 'CEB     ', 'CFE     ', 'CGN     ', 'CGO     ', 'TUS     ', 'TSR     ', 'TRD     ', 'CAK     ', 'CNX     ', 'TMP     ', 'CTG     ', 'TIA     ', 'KGD     ', 'DAL     ', 'DAY     ', 'TYS     ', 'BUR     ', 'TFN     ', 'XNA     ', 'AES     ', 'AKL     ', 'ALB     ', 'ANC     ', 'ASE     ', 'ASW     ', 'AVL     ', 'WDH     ', 'BRW     ', 'BHX     ', 'BJA     ', 'BLL     ', 'VPS     ', 'BPS     ', 'VNO     ', 'BRD     ', 'DMM     ', 'DAB     ', 'GYE     ', 'GMP     ', 'JLN     ', 'SDU     ', 'JAC     ', 'IXE     ', 'IDR     ', 'SIN     ', 'HGH     ', 'SJO     ', 'HAM     ', 'DZA     ', 'GTF     ', 'GRU     ', 'GRB     ', 'SMI     ', 'PBM     ', 'SNN     ', 'SVG     ', 'GFK     ', 'TAO     ', 'ELP     ', 'EAS     ', 'FAO     ', 'SZX     ', 'SSA     ', 'GEO     ', 'YQU     ', 'PEK     ', 'YYJ     ', 'YXY     ', 'RPR     ', 'YXE     ', 'ZNZ     ', 'ROV     ', 'YCD     ', 'YOW     ', 'RHO     ', 'SGC     ', 'WRO     ', 'SHA     ', 'SYD     ', 'SVQ     ', 'PUS     ', 'SRQ     ', 'SPS     ', 'VCE     ', 'RAI     ', 'TBS     ', 'KTM     ', 'GEG     ', 'BGO     ', 'EWN     ', 'HMO     ', 'AMD     ', 'ARH     ', 'FCA     ', 'ATQ     ', 'FDH     ', 'BIQ     ', 'AUH     ', 'ERI     ', 'GIZ     ', 'KGS     ', 'GNV     ', 'JRO     ', 'JED     ', 'HAJ     ', 'HAN     ', 'HDY     ', 'ESB     ', 'LCA     ', 'AER     ', 'LRT     ', 'CPR     ', 'BBI     ', 'GLA     ', 'UVF     ', 'CJS     ', 'CID     ', 'BFN     ', 'BLR     ', 'CPH     ', 'CAG     ', 'CHQ     ', 'HAV     ', 'HBE     ', 'CBR     ', 'BUD     ', 'OGG     ', 'BRI     ', 'GDL     ', 'TNR     ', 'FUE     ', 'CRK     ', 'CUL     ', 'CUR     ', 'FAR     ', 'CUZ     ', 'TGU     ', 'DLA     ', 'VVI     ', 'SXM     ', 'HEL     ', 'ISU     ', 'AYT     ', 'PRI     ', 'LOS     ', 'LPA     ', 'LSE     ', 'LYR     ', 'AJF     ', 'PTP     ', 'PSP     ', 'AGA     ', 'MDZ     ', 'RAK     ', 'MED     ', 'MID     ', 'PLZ     ', 'PLS     ', 'MLI     ', 'MOB     ', 'ACC     ', 'PEW     ', 'LIH     ', 'RBA     ', 'IQQ     ', 'KIV     ', 'ISB     ', 'ISN     ', 'CCP     ', 'IXC     ', 'AXM     ', 'JNU     ', 'YNB     ', 'KIN     ', 'YQM     ', 'LHE     ', 'RTB     ', 'KIX     ', 'KLX     ', 'KOA     ', 'AUA     ', 'ABV     ', 'KWI     ', 'YYC     ', 'CCS     ', 'ZYL     ', 'JKH     ', 'SCL     ', 'TUN     ', 'TPE     ', 'DUB     ', 'FSP     ', 'ROC     ', 'RUH     ', 'ABZ     ', 'LGW     ', 'LAO     ', 'AQP     ', 'RUN     ', 'CCJ     ', 'OVB     ', 'EZS     ', 'YAY     ', 'BQK     ', 'BHM     ', 'CLO     ', 'MLX     ', 'RIC     ', 'GAU     ', 'GPT     ', 'MAA     ', 'IAD     ', 'KSN     ', 'GUM     ', 'DPS     ', 'PSA     ', 'NAS     ', 'ASU     ', 'CDG     ', 'PMI     ', 'ORK     ', 'FAT     ', 'KRK     ', 'IBZ     ', 'FNC     ', 'VKO     ', 'EDI     ', 'FLN     ', 'SPU     ', 'BKI     ', 'PMO     ', 'JAN     ', 'FLO     ', 'MSQ     ', 'OPO     ', 'ORF     ', 'MDW     ', 'MLE     ', 'ECP     ', 'MFR     ', 'AGU     ', 'CLJ     ', 'GZP     ', 'EVN     ', 'WUH     ', 'BZE     ', 'PDL     ', 'THR     ', 'SSH     ', 'PTY     ', 'SOU     ', 'SKP     ', 'GCM     ', 'NUE     ', 'ATW     ', 'AJA     ', 'LFT     ', 'KSM     ', 'BAH     ', 'OMS     ', 'CHS     ', 'MLA     ', 'LJU     ', 'PRN     ', 'ONT     ', 'MTY     ', 'LEX     ', 'RAP     ', 'MSU     ', 'OAG     ', 'SJJ     ', 'OSL     ', 'NSI     ', 'MBA     ', 'NOS     ', 'PLQ     ', 'MRV     ', 'LYS     ', 'PNA     ', 'SXB     ', 'MRY     ', 'SBA     ', 'KWL     ', 'TRW     ', 'CHA     ', 'CRW     ', 'VTZ     ', 'VNS     ', 'VLC     ', 'DSM     ', 'FIH     ', 'FOC     ', 'CCU     ', 'BDL     ', 'AGX     ', 'YXS     ', 'ANF     ', 'AVP     ', 'YQQ     ', 'BTR     ', 'BOD     ', 'BTM     ', 'GCC     ', 'DIE     ', 'KGI     ', 'JST     ', 'SYZ     ', 'SZG     ', 'TCQ     ', 'TNG     ', 'HPN     ', 'HLA     ', 'TRN     ', 'LIL     ', 'BRE     ', 'FWA     ', 'SYR     ', 'BHH     ', 'YQT     ', 'BEG     ', 'BDA     ', 'TUL     ', 'YVO     ', 'RAJ     ', 'AOE     ', 'LKO     ', 'ICT     ', 'VER     ', 'HFE     ', 'CUC     ', 'CTU     ', 'CSG     ', 'IGU     ', 'SDR     ', 'FAY     ', 'WLG     ', 'OSR     ', 'LUO     ', 'XMN     ', 'SXF     ', 'YMM     ', 'WEH     ', 'SPN     ', 'SBP     ', 'SOM     ', 'AAL     ', 'HRG     ', 'KYA     ', 'KBL     ', 'JYV     ', 'JJN     ', 'JDH     ', 'IXZ     ', 'COR     ', 'ILM     ', 'IKA     ', 'HRK     ', 'CPT     ', 'CTS     ', 'GOJ     ', 'GOA     ', 'GIG     ', 'FUK     ', 'FSD     ', 'FOR     ', 'FNA     ', 'LIG     ', 'SAP     ', 'PVD     ', 'POL     ', 'PMC     ', 'PAT     ', 'ANU     ', 'AOI     ', 'NBC     ', 'MLB     ', 'MAR     ', 'LUG     ', 'YHD     ', 'BTV     ', 'MDT     ', 'IVL     ', 'NAN     ', 'BLJ     ', 'TOS     ', 'BGA     ', 'RFP     ', 'ZAG     ', 'MAO     ', 'MRU     ', 'SCQ     ', 'TFS     ', 'CRL     ', 'BSL     ', 'HAK     ', 'OKA     ', 'YTM     ', 'FPO     ', 'SIP     ', 'DRS     ', 'FRU     ', 'DBV     ', 'STN     ', 'SLL     ', 'MTR     ', 'XQP     ', 'NPL     ', 'PPT     ', 'USH     ', 'PEI     ', 'OUD     ', 'XNB     ', 'VSA     ', 'TLH     ', 'SBZ     ', 'OME     ', 'ROB     ', 'KEF     ', 'CHC     ', 'IXB     ', 'HBA     ', 'LGB     ', 'BIO     ', 'ADZ     ', 'AFA     ', 'RST     ', 'QQS     ', 'BRM     ', 'BME     ', 'NAG     ', 'HOU     ', 'NCL     ', 'HHH     ', 'KTN     ', 'TRV     ', 'GYD     ', 'SAL     ', 'UKK     ', 'BRC     ', 'LBV     ', 'TOF     ', 'BWN     ', 'ECN     ', 'IKT     ', 'ITM     ', 'UBP     ', 'EYW     ', 'NGB     ', 'STS     '])

In [ ]:
tops_dict.items()

In [35]:
type(tops_dict.items())

dict_items

In [38]:
list(tops_dict.items())[:10]

[('DCA     ', 82),
 ('DEN     ', 79),
 ('SFO     ', 91),
 ('PVG     ', 49),
 ('LAX     ', 91),
 ('ORD     ', 94),
 ('JFK     ', 92),
 ('MCO     ', 90),
 ('LGA     ', 95),
 ('HKG     ', 112)]

In [40]:
items=list(tops_dict.items())
#tops_dict.items()[0][1]

In [41]:
items[:10]

[('DCA     ', 82),
 ('DEN     ', 79),
 ('SFO     ', 91),
 ('PVG     ', 49),
 ('LAX     ', 91),
 ('ORD     ', 94),
 ('JFK     ', 92),
 ('MCO     ', 90),
 ('LGA     ', 95),
 ('HKG     ', 112)]

In [43]:
items[0][1]

82

Return a callable object that fetches item from its operand using the operandâ€™s __getitem__() method. If multiple items are specified, returns a tuple of lookup values. For example:

After f = itemgetter(2), the call f(r) returns r[2].
After g = itemgetter(2, 5, 3), the call g(r) returns (r[2], r[5], r[3]).

In [193]:
#import operator
#sorted_list = sorted(tops_dict.items(), key=operator.itemgetter(1), reverse=True)

In [44]:
items.sort(key=lambda x:x[1], reverse=True)
items[:10]

[('HKG     ', 112),
 ('LGA     ', 95),
 ('ORD     ', 94),
 ('JFK     ', 92),
 ('SFO     ', 91),
 ('LAX     ', 91),
 ('MCO     ', 90),
 ('DCA     ', 82),
 ('DEN     ', 79),
 ('LHR     ', 76)]

In [45]:
 for num in items[:10]:
        print("    Airport: %s  had %s passengers in 2013" % (num[0], num[1]))

    Airport: HKG       had 112 passengers in 2013
    Airport: LGA       had 95 passengers in 2013
    Airport: ORD       had 94 passengers in 2013
    Airport: JFK       had 92 passengers in 2013
    Airport: SFO       had 91 passengers in 2013
    Airport: LAX       had 91 passengers in 2013
    Airport: MCO       had 90 passengers in 2013
    Airport: DCA       had 82 passengers in 2013
    Airport: DEN       had 79 passengers in 2013
    Airport: LHR       had 76 passengers in 2013

### Another option for sorting the dictonary

In [61]:
tops=zip(tops_dict.keys(), tops_dict.values())

In [62]:
from collections import Counter
Counter(tops_dict).most_common(10)

[('HKG     ', 112),
 ('LGA     ', 95),
 ('ORD     ', 94),
 ('JFK     ', 92),
 ('LAX     ', 91),
 ('SFO     ', 91),
 ('MCO     ', 90),
 ('DCA     ', 82),
 ('DEN     ', 79),
 ('LHR     ', 76)]

## Pre-Bonus Solution

In [51]:
import pandas as pd
bc = pd.read_csv('bookings.sample.csv.bz2',sep='^',usecols=['arr_port','pax', 'year'], chunksize=4000)
sum_all_chunks = pd.DataFrame()

for i,chunk in enumerate(bc):
    chunk_airports=chunk[chunk['year'] == 2013]\
        [['arr_port','pax']]\
        .dropna()\
        .groupby(['arr_port'])\
        .sum()
    sum_all_chunks=sum_all_chunks.append(chunk_airports)
    print ("Chank Nummber:%d     Size:%d" % (i, len(chunk)))
print(sum_all_chunks.shape)
sum_all_chunks.sort_values('pax',ascending=False).head()#this is not the final resault! 
#we are just getting the answer to the highest number of booking per aiport per chunk
#we should groupby again
#print(sum_all_chunks.head())

topairports=sum_all_chunks.groupby('arr_port').pax.sum().sort_values(ascending=False).reset_index()
topairports.head()

Chank Nummber:0     Size:4000
Chank Nummber:1     Size:4000
Chank Nummber:2     Size:1999
(1182, 1)

   arr_port  pax
0  HKG       112
1  LGA        95
2  ORD        94
3  JFK        92
4  SFO        91

### Now we've got top airports

we have to install geobases
pip install GeoBases

In [69]:
from GeoBases import GeoBase
#Try this with NeoBase

In [70]:
geoDict = GeoBase(data='ori_por', verbose=False)
#geoDict = GeoBase(data='ori_por')

In [71]:
type(geoDict)

GeoBases.GeoBaseModule.GeoBase

In [72]:
geoDict.keys()[:10]

['AAA', 'AAA@1', 'AAB', 'AAC', 'AAC@1', 'AAE', 'AAE@1', 'AAF', 'AAF@1', 'AAG']

In [73]:
geoDict.fields

['__key__',
 '__dup__',
 '__par__',
 '__lno__',
 'iata_code',
 'icao_code',
 'faa_code',
 'is_geonames',
 'geoname_id',
 'valid_id',
 'name',
 'asciiname',
 'lat',
 'lng',
 'fclass',
 'fcode',
 'page_rank',
 'date_from',
 'date_until',
 'comment',
 'country_code',
 'cc2',
 'country_name',
 'continent_name',
 'adm1_code',
 'adm1_name_utf',
 'adm1_name_ascii',
 'adm2_code',
 'adm2_name_utf',
 'adm2_name_ascii',
 'adm3_code',
 'adm4_code',
 'population',
 'elevation',
 'gtopo30',
 'timezone',
 'gmt_offset',
 'dst_offset',
 'raw_offset',
 'moddate',
 'city_code',
 'city_name_utf',
 'city_name_ascii',
 'tvl_por_list@raw',
 'tvl_por_list',
 'state_code',
 'location_type@raw',
 'location_type',
 'wiki_link',
 'alt_name_section@raw',
 'alt_name_section',
 '__gar__']

In [74]:
geoDict.get?

In [ ]:
geoDict.get('LHR')

In [82]:
geoDict.get('LHR')['wiki_link']

'http://en.wikipedia.org/wiki/London_Heathrow_Airport'

In [83]:
geoDict.get('LHR','city_name_utf')

'London'

In [84]:
geoDict.get('LHR')['name']

'London Heathrow Airport'

In [85]:
topairports.arr_port[0]

'HKG     '

In [86]:
geoDict.get('HKG')['name']

'Hong Kong International Airport'

In [87]:
geoDict.get(topairports.arr_port[0])['name']

KeyError: 'Thing not found: HKG     '

### How do we remove white spaces?

In [88]:
topairports.arr_port[0].strip()

'HKG'

### How do we put the name of each airport into the DF?

In [89]:
topairports['Airport Name_v1']=geoDict.get(topairports.arr_port[0].strip())['name']

In [91]:
topairports.head()

   arr_port  pax                  Airport Name_v1
0  HKG       112  Hong Kong International Airport
1  LGA        95  Hong Kong International Airport
2  ORD        94  Hong Kong International Airport
3  JFK        92  Hong Kong International Airport
4  SFO        91  Hong Kong International Airport

In [93]:
topairports['arr_port'].map(lambda x: geoDict.get(x.strip())['name']).head()

0         Hong Kong International Airport
1                      La Guardia Airport
2    Chicago O'Hare International Airport
3    John F Kennedy International Airport
4     San Francisco International Airport
Name: arr_port, dtype: object

In [94]:
def get_name(code_from_top_airports):
    airport_name=geoDict.get(code_from_top_airports.strip())['name']
    return airport_name

In [95]:
get_name(topairports.arr_port[0])

'Hong Kong International Airport'

In [106]:
topairports['Airport Name_v2']=topairports.arr_port.map(get_name)
topairports.head()

,arr_port,pax,Airport Name_v3,Airport Name_v2
0,HKG,112,Hong Kong International Airport,Hong Kong International Airport
1,LGA,95,La Guardia Airport,La Guardia Airport
2,ORD,94,Chicago O'Hare International Airport,Chicago O'Hare International Airport
3,JFK,92,John F Kennedy International Airport,John F Kennedy International Airport
4,SFO,91,San Francisco International Airport,San Francisco International Airport

In [98]:
get_airport_name = lambda x: geoDict.get(x.strip())['name']
topairports.arr_port.map(get_airport_name).head()

0         Hong Kong International Airport
1                      La Guardia Airport
2    Chicago O'Hare International Airport
3    John F Kennedy International Airport
4     San Francisco International Airport
Name: arr_port, dtype: object

In [105]:
topairports['Airport Name_v3']=topairports.arr_port.map(lambda x: geoDict.get(x.strip())['name'])
topairports.head()

   arr_port  pax                       Airport Name_v3
0  HKG       112       Hong Kong International Airport
1  LGA        95                    La Guardia Airport
2  ORD        94  Chicago O'Hare International Airport
3  JFK        92  John F Kennedy International Airport
4  SFO        91   San Francisco International Airport

In [228]:
topairports['Airport Name_v4']=geoDict.get(topairports.arr_port[0].strip())['name']
topairports

,arr_port,pax,Airport Name,AirportName
0,HKG,112,Hong Kong International Airport,Hong Kong International Airport
1,LGA,95,La Guardia Airport,Hong Kong International Airport
2,ORD,94,Chicago O'Hare International Airport,Hong Kong International Airport
3,JFK,92,John F Kennedy International Airport,Hong Kong International Airport
4,SFO,91,San Francisco International Airport,Hong Kong International Airport
5,LAX,91,Los Angeles International Airport,Hong Kong International Airport
6,MCO,90,Orlando International Airport,Hong Kong International Airport
7,DCA,82,Ronald Reagan Washington National Airport,Hong Kong International Airport
8,DEN,79,Denver International Airport,Hong Kong International Airport
9,LHR,76,London Heathrow Airport,Hong Kong International Airport

In [103]:
topairports.drop(['Airport Name_v1','Airport Name_v3'], axis=1, inplace=True)
#del topairports['Airport Name_v4']

In [107]:
del topairports['Airport Name_v4']

In [108]:
topairports.head()

   arr_port  pax                       Airport Name_v2
0  HKG       112       Hong Kong International Airport
1  LGA        95                    La Guardia Airport
2  ORD        94  Chicago O'Hare International Airport
3  JFK        92  John F Kennedy International Airport
4  SFO        91   San Francisco International Airport

In [110]:
topairports.rename(columns={'Airport Name_v2':'AirportName'}, inplace=True)

In [111]:
topairports.head()

   arr_port  pax                           AirportName
0  HKG       112       Hong Kong International Airport
1  LGA        95                    La Guardia Airport
2  ORD        94  Chicago O'Hare International Airport
3  JFK        92  John F Kennedy International Airport
4  SFO        91   San Francisco International Airport

In [120]:
topairports.drop(topairports.index[[8,3]]).head(10) #los elemntos 3 y 8 no estan entre los resultados

    arr_port  pax                                        AirportName
0   HKG       112                    Hong Kong International Airport
1   LGA        95                                 La Guardia Airport
2   ORD        94               Chicago O'Hare International Airport
4   SFO        91                San Francisco International Airport
5   LAX        91                  Los Angeles International Airport
6   MCO        90                      Orlando International Airport
7   DCA        82          Ronald Reagan Washington National Airport
9   LHR        76                            London Heathrow Airport
10  LAS        70                    Mc Carran International Airport
11  ATL        69  Hartsfield - Jackson Atlanta International Air...

In [122]:
topairports.index[[8,3]]

Int64Index([8, 3], dtype='int64')

In [123]:
topairports.drop(topairports.index[[8,3]]).index[9]

11

In [114]:
topairports.iloc[8]

arr_port                           DEN
pax                                      79
AirportName    Denver International Airport
Name: 8, dtype: object

In [115]:
topairports[topairports.pax<80].index

Int64Index([  8,   9,  10,  11,  12,  13,  14,  15,  16,  17,
            ...
            653, 654, 655, 656, 657, 658, 659, 660, 661, 662],
           dtype='int64', length=655)

In [117]:
topairports.drop(topairports[topairports.pax<90].index, axis=0)

   arr_port  pax                           AirportName
0  HKG       112       Hong Kong International Airport
1  LGA        95                    La Guardia Airport
2  ORD        94  Chicago O'Hare International Airport
3  JFK        92  John F Kennedy International Airport
4  SFO        91   San Francisco International Airport
5  LAX        91     Los Angeles International Airport
6  MCO        90         Orlando International Airport

## Final Solution

In [125]:
%%time
import pandas as pd
#path='/home/dsc/Data/challenge'
file_name='bookings.csv.bz2'
#file_name='bookings.csv.bz2'

sum_chunks=pd.DataFrame()

bc = pd.read_csv(file_name,sep='^',usecols=['arr_port','pax','year'], chunksize=1000000)
#bc = pd.read_csv(path+'/'+file_name,sep='^',usecols=['arr_port','pax','year'], chunksize=3000) #for sample file
for i,chunk in enumerate(bc):
    print (i)
    chunk_airports=chunk[chunk['year'] == 2013][['arr_port','pax']].dropna().groupby(['arr_port']).sum().reset_index()
    sum_chunks=sum_chunks.append(chunk_airports)
    
#topairports=sum_chunks.groupby('arr_port').pax.sum().sort_values(ascending=False).reset_index().head(10) 

#we are going to need this for the web service so we'll put it without top10
topairports=sum_chunks.groupby('arr_port').pax.sum().sort_values(ascending=False).reset_index() 

from GeoBases import GeoBase
geoDict = GeoBase(data='ori_por', verbose=False)
topairports['Airport Name']=topairports.arr_port.map(lambda x: geoDict.get(x.strip())['name'])

topairports.head()

0
1
2
3
4
5
6
7
8
9
10
CPU times: user 2min 23s, sys: 1.65 s, total: 2min 25s
Wall time: 2min 22s

In [126]:
topairports.to_csv('top_airports.csv',sep='^', index=False)
!pwd

/Users/igor.arambasic/dev/master/data

In [127]:
ls -l

total 17547128
-rw-r--r--  1 igor.arambasic  staff  4244874509 Dec 26 08:22 bookings.csv
-rw-r--r--  1 igor.arambasic  staff   554970628 Dec 26 08:22 bookings.csv.bz2
-rw-r--r--  1 igor.arambasic  staff     4232732 Jan  2 06:42 bookings.sample.csv
-rw-r--r--  1 igor.arambasic  staff      535893 Jan  1 16:19 bookings.sample.csv.bz2
-rw-r--r--  1 igor.arambasic  staff  3696229366 Dec 26 08:20 searches.csv
-rw-r--r--  1 igor.arambasic  staff   483188920 Dec 26 08:20 searches.csv.bz2
-rw-r--r--  1 igor.arambasic  staff       84696 Jan 13 07:38 top_airports.csv

In [128]:
top_airport_file=pd.read_csv('top_airports.csv',sep='^')

In [129]:
top_airport_file.head()

   arr_port      pax                          Airport Name
0  LHR       88809.0               London Heathrow Airport
1  MCO       70930.0         Orlando International Airport
2  LAX       70530.0     Los Angeles International Airport
3  LAS       69630.0       Mc Carran International Airport
4  JFK       66270.0  John F Kennedy International Airport

In [130]:
! head ./top_airports.csv

arr_port^pax^Airport Name
LHR     ^88809.0^London Heathrow Airport
MCO     ^70930.0^Orlando International Airport
LAX     ^70530.0^Los Angeles International Airport
LAS     ^69630.0^Mc Carran International Airport
JFK     ^66270.0^John F Kennedy International Airport
CDG     ^64490.0^Paris - Charles-de-Gaulle
BKK     ^59460.0^Suvarnabhumi
MIA     ^58150.0^Miami International Airport
SFO     ^58000.0^San Francisco International Airport

In [133]:
topairports['arr_port']=topairports.arr_port.map(lambda x: x.strip())

In [134]:
topairports.head()

  arr_port      pax                          Airport Name
0      LHR  88809.0               London Heathrow Airport
1      MCO  70930.0         Orlando International Airport
2      LAX  70530.0     Los Angeles International Airport
3      LAS  69630.0       Mc Carran International Airport
4      JFK  66270.0  John F Kennedy International Airport

In [137]:
topairports.dtypes

arr_port         object
pax             float64
Airport Name     object
dtype: object

In [138]:
topairports['pax'].astype(int)

0       88809
1       70930
2       70530
3       69630
4       66270
5       64490
6       59460
7       58150
8       58000
9       55590
10      53200
11      45120
12      43850
13      42420
14      42000
15      41410
16      41200
17      40712
18      39780
19      36890
20      35840
21      35680
22      33690
23      33440
24      33180
25      32630
26      32400
27      32020
28      31970
29      31800
        ...
2244      -20
2245      -20
2246      -20
2247      -20
2248      -20
2249      -20
2250      -20
2251      -20
2252      -20
2253      -20
2254      -20
2255      -20
2256      -20
2257      -20
2258      -20
2259      -20
2260      -30
2261      -30
2262      -40
2263      -40
2264      -40
2265      -50
2266      -60
2267      -60
2268      -70
2269      -80
2270      -90
2271      -90
2272     -350
2273    -1270
Name: pax, Length: 2274, dtype: int64

In [139]:
topairports = topairports.astype({"pax": int})

In [140]:
topairports.dtypes

arr_port        object
pax              int64
Airport Name    object
dtype: object

In [141]:
topairports.to_csv('top_airports.csv',sep='^', index=False)

In [142]:
! head ./top_airports.csv

arr_port^pax^Airport Name
LHR^88809^London Heathrow Airport
MCO^70930^Orlando International Airport
LAX^70530^Los Angeles International Airport
LAS^69630^Mc Carran International Airport
JFK^66270^John F Kennedy International Airport
CDG^64490^Paris - Charles-de-Gaulle
BKK^59460^Suvarnabhumi
MIA^58150^Miami International Airport
SFO^58000^San Francisco International Airport