map= works element wise on series

apply= works on row/columns of DF (def=columns; axis=1 => rows); works on DF of group by

applymap = works element wise on DF

In [13]:
topairports2.arr_port=topairports2.arr_port.map(str.strip)

In [40]:
a=['LHR     ', 'MCO     ', 'LAX     ', 'LAS     ', 'JFK     ']

In [41]:
type(a)

list

In [44]:
import pandas as pd

In [45]:
A=pd.Series(a)

In [49]:
A.str.strip()

0    LHR
1    MCO
2    LAX
3    LAS
4    JFK
dtype: object

In [50]:
A.map(str.strip)

0    LHR
1    MCO
2    LAX
3    LAS
4    JFK
dtype: object

In [14]:
list(topairports2.arr_port.head())

['LHR', 'MCO', 'LAX', 'LAS', 'JFK']

In [22]:
#topairports.pax=pd.to_numeric(topairports.pax)

In [28]:
topairports2.pax=topairports2.pax.map(lambda x:int(x))

In [48]:
topairports2.to_csv('top_airports.csv',sep='^', index=False)

In [14]:
def plus_one(x):
    return x+1
def sum_serie(x):
    return sum(x)

In [10]:
a=pd.DataFrame({"one":[1,2,3,4],
               "two":[2, 3, 4, 5]}, index=[5, 6, 7, 8])

In [11]:
a

   one  two
5    1    2
6    2    3
7    3    4
8    4    5

In [13]:
a.applymap(plus_one)

   one  two
5    2    3
6    3    4
7    4    5
8    5    6

In [15]:
sum_serie([1,2,3])

6

In [17]:
sum_serie(a['one'])

10

In [24]:
a.apply(plus_one)

   one  two
5    2    3
6    3    4
7    4    5
8    5    6

In [25]:
a.map(plus_one)

AttributeError: 'DataFrame' object has no attribute 'map'

In [26]:
a.one.map(plus_one)

5    2
6    3
7    4
8    5
Name: one, dtype: int64

In [27]:
a.one.map(sum_serie)

TypeError: 'numpy.int64' object is not iterable

In [28]:
a.apply(sum_serie)

one    10
two    14
dtype: int64

In [1]:
import numpy as np
import pandas as pd
df=pd.DataFrame(np.arange(10).reshape(2,5))

In [2]:
df.apply(np.sqrt, axis=1)

          0        1         2         3    4
0  0.000000  1.00000  1.414214  1.732051  2.0
1  2.236068  2.44949  2.645751  2.828427  3.0

In [3]:
df.apply(np.sqrt, axis=0)

          0        1         2         3    4
0  0.000000  1.00000  1.414214  1.732051  2.0
1  2.236068  2.44949  2.645751  2.828427  3.0

In [4]:
df.applymap(np.sqrt)

          0        1         2         3    4
0  0.000000  1.00000  1.414214  1.732051  2.0
1  2.236068  2.44949  2.645751  2.828427  3.0

In [5]:
df.apply(np.sum, axis=1)

0    10
1    35
dtype: int64

In [6]:
df.apply(np.sum, axis=0)

0     5
1     7
2     9
3    11
4    13
dtype: int64

In [7]:
np.random.randint(1, 10, 5)

array([9, 5, 5, 3, 6])