In [5]:
import pandas as pd
import numpy as np
left = pd.DataFrame({'value': np.random.randn(4)}, index=['A', 'B', 'C', 'D'])    
right = pd.DataFrame({'value': np.random.randn(4)}, index=['B', 'D', 'E', 'F'])
#left.index.name = right.index.name = 'idxkey'

In [6]:
left

      value
A  0.606671
B -1.794137
C -2.598394
D  0.607456

In [7]:
right

      value
B  0.461814
D  2.408587
E  0.388259
F  0.380953

In [8]:
left.merge(right, how='left', 
            left_index=True,
           right_index=True )

    value_x   value_y
A  0.606671       NaN
B -1.794137  0.461814
C -2.598394       NaN
D  0.607456  2.408587