In [2]:
#np.random.randn
#univariate “normal” (Gaussian) distribution of mean 0 and variance 1
import numpy as np
import pandas as pd
data=np.random.randn(5, 2)
#print data
#print type(data[0])
#print type(data[0][0])
df = pd.DataFrame(data,columns=['one', 'two' ])
df

        one       two
0  0.769114  0.460326
1  0.187915 -0.552932
2  0.370928  0.152417
3 -1.836674  0.590799
4  2.956939  1.288924

In [4]:
df[[True, False, True, False, False]]

        one       two
0  0.769114  0.460326
2  0.370928  0.152417

In [11]:
df.rename(columns={'one':'three'}, inplace=True)

In [12]:
del df['three']