## Drop Duplicates()

In [2]:
#np.random.randn
#univariate “normal” (Gaussian) distribution of mean 0 and variance 1
import numpy as np
import pandas as pd
data=np.random.randn(5, 2)
#print data
#print type(data[0])
#print type(data[0][0])
df = pd.DataFrame(data,columns=['one', 'two' ])
df

        one       two
0 -0.297245 -0.946305
1  0.100631  0.625547
2 -0.718047  0.804115
3 -1.989551 -0.203357
4 -0.151780 -1.371877

In [3]:
df=df.append(df.iloc[2]).reset_index()
df

   index       one       two
0      0 -0.297245 -0.946305
1      1  0.100631  0.625547
2      2 -0.718047  0.804115
3      3 -1.989551 -0.203357
4      4 -0.151780 -1.371877
5      2 -0.718047  0.804115

In [4]:
df.drop_duplicates()

   index       one       two
0      0 -0.297245 -0.946305
1      1  0.100631  0.625547
2      2 -0.718047  0.804115
3      3 -1.989551 -0.203357
4      4 -0.151780 -1.371877

In [5]:
df.dropna().drop_duplicates()

   index       one       two
0      0 -0.297245 -0.946305
1      1  0.100631  0.625547
2      2 -0.718047  0.804115
3      3 -1.989551 -0.203357
4      4 -0.151780 -1.371877