### isin(), row filtering example

In [2]:
import pandas as pd
data = pd.DataFrame({'col1': [1, 3, 4, 3, 4],
                  'col2': [2, 3, 1, 2, 3],
                  'col3': [1, 5, 2, 4, 4]})
data

   col1  col2  col3
0     1     2     1
1     3     3     5
2     4     1     2
3     3     2     4
4     4     3     4

In [3]:
len(data)

5

In [46]:
data[[True, True, False, True, True]]

   col1  col2  col3
0     1     2     1
1     3     3     5
3     3     2     4
4     4     3     4

In [47]:
[data['col2'] > 2]

[0    False
 1     True
 2    False
 3    False
 4     True
 Name: col2, dtype: bool]

In [48]:
data[data['col2'] == 2]

   col1  col2  col3
0     1     2     1
3     3     2     4

In [49]:
data[data['col2'].isin([2])]

   col1  col2  col3
0     1     2     1
3     3     2     4

In [50]:
data[data['col2'].isin([2,3])]

   col1  col2  col3
0     1     2     1
1     3     3     5
3     3     2     4
4     4     3     4

In [158]:
s=pd.read_csv('searches.csv.bz2',sep='^', usecols=['Date','Destination'], nrows=1000)
sFilter = s[s['Destination'].isin(['MAD','BCN','AGP'])]
sFilter.sample(5)

           Date Destination
835  2013-01-01         AGP
780  2013-01-01         BCN
797  2013-01-01         BCN
809  2013-01-01         BCN
798  2013-01-01         MAD