## Top 10 arrival airports in the world in 2013 (using the bookings file)

Arrival airport is the column arr_port. It is the IATA code for the airport

To get the total number of passengers for an airport, you can sum the column pax, grouping by arr_port.

Note that there is negative pax. That corresponds to cancelations. So to get the total number of passengers that have actually booked, you should sum including the negatives (that will remove the canceled bookings).

Print the top 10 arrival airports in the standard output, including the number of passengers.

Bonus point: Get the name of the city or airport corresponding to that airport (programatically, we suggest to have a look at GeoBases in Github)

Bonus point: Solve this problem using pandas (instead of any other approach)

Get familiar with data
Select the columns of interest
What to do with NaN?

Make action plan
Develop the code that works with a sample

Adjust the code to work with Big data
Test big data approach on a sample

Run program with big data

(Bonus Point)

In [1]:
!pwd

/home/dsc/Python/DS_Master_A1_Chall/master4

In [3]:
cd ~/Data/challenge/

/home/dsc/Data/challenge

In [4]:
!ls -l

total 1020532
-rw-rw-r--. 1 dsc dsc 554970628 Jan  4  2016 bookings.csv.bz2
-rw-rw-r--  1 dsc dsc    535893 May 19 17:15 bookings.sample.csv.bz2
-rw-rw-r--  1 dsc dsc   4232732 May 19 17:39 bookings.sample.csv.csv
-rw-rw-r--. 1 dsc dsc 483188920 Jan  4  2016 searches.csv.bz2
-rw-rw-r--  1 dsc dsc    244720 May 19 17:20 searches.sample.csv.bz2
-rw-rw-r--  1 dsc dsc   1824927 May 19 17:39 searches.sample.csv.csv

## 1) Get familiar with data

### What if we dont want to read the whole file?

Options:
1) prepare the sample
2) read_csv with nrows option

In [6]:
import pandas as pd

In [22]:
#DON'T DO THIS!!!
b = pd.read_csv('bookings.csv.bz2',sep='^')

In [ ]:
b = pd.read_csv('bookings.csv.bz2',sep='^', nrows=1000)

In [7]:
b = pd.read_csv('bookings.sample.csv.bz2',sep='^', nrows=1000)

## Commands for obtaining data info:

Commands for obtaining data info:
    b.shape  - object 
    b.info()

    b.columns
    b.columns.to_list()
    list(b.columns)
    
    b.head() -function
    b.sample()
    
    #pd.set_option('display.max_columns', 100)
    pd.set_option('display.max_columns', None)
    
    b.describe()
    b.describe(include='all')
    df.dtypes
    
    b.isnull().sum()
    non_null_counts = b.count()

In [9]:
b.shape

(1000, 38)

In [10]:
b.columns

Index([u'act_date           ', u'source', u'pos_ctry', u'pos_iata',
       u'pos_oid  ', u'rloc          ', u'cre_date           ', u'duration',
       u'distance', u'dep_port', u'dep_city', u'dep_ctry', u'arr_port',
       u'arr_city', u'arr_ctry', u'lst_port', u'lst_city', u'lst_ctry',
       u'brd_port', u'brd_city', u'brd_ctry', u'off_port', u'off_city',
       u'off_ctry', u'mkt_port', u'mkt_city', u'mkt_ctry', u'intl',
       u'route          ', u'carrier', u'bkg_class', u'cab_class',
       u'brd_time           ', u'off_time           ', u'pax', u'year',
       u'month', u'oid      '],
      dtype='object')

In [15]:
b.columns.tolist()

['act_date           ',
 'source',
 'pos_ctry',
 'pos_iata',
 'pos_oid  ',
 'rloc          ',
 'cre_date           ',
 'duration',
 'distance',
 'dep_port',
 'dep_city',
 'dep_ctry',
 'arr_port',
 'arr_city',
 'arr_ctry',
 'lst_port',
 'lst_city',
 'lst_ctry',
 'brd_port',
 'brd_city',
 'brd_ctry',
 'off_port',
 'off_city',
 'off_ctry',
 'mkt_port',
 'mkt_city',
 'mkt_ctry',
 'intl',
 'route          ',
 'carrier',
 'bkg_class',
 'cab_class',
 'brd_time           ',
 'off_time           ',
 'pax',
 'year',
 'month',
 'oid      ']

In [16]:
b.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

In [20]:
#pd.set_option('display.max_columns',100)
pd.set_option('display.max_columns',None)

In [21]:
b.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,ZRH,CH,LHR,LON,GB,ZRH,ZRH,CH,LHR,LON,GB,ZRH,ZRH,CH,LHRZRH,LONZRH,CHGB,1,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,SAL,SAL,SV,CLT,CLT,US,CLTSAL,CLTSAL,SVUS,1,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,CLTSAL,CLTSAL,SVUS,1,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,AKL,AKL,NZ,SVO,MOW,RU,AKLSVO,AKLMOW,NZRU,1,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,AKLSVO,AKLMOW,NZRU,1,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

In [23]:
b.dtypes

act_date               object
source                 object
pos_ctry               object
pos_iata               object
pos_oid                object
rloc                   object
cre_date               object
duration                int64
distance                int64
dep_port               object
dep_city               object
dep_ctry               object
arr_port               object
arr_city               object
arr_ctry               object
lst_port               object
lst_city               object
lst_ctry               object
brd_port               object
brd_city               object
brd_ctry               object
off_port               object
off_city               object
off_ctry               object
mkt_port               object
mkt_city               object
mkt_ctry               object
intl                    int64
route                  object
carrier                object
bkg_class              object
cab_class              object
brd_time               object
off_time               object
pax                     int64
year                    int64
month                   int64
oid                    object
dtype: object

In [31]:
b.isnull().sum()

arr_port    0
pax         0
year        0
dtype: int64

In [26]:
b.describe()

            duration      distance         intl          pax    year   month
count    1000.000000   1000.000000  1000.000000  1000.000000  1000.0  1000.0
mean    23935.433000    407.569000     0.643000     0.532000  2013.0     3.0
std     54459.101785   1490.087967     0.479355     1.976077     0.0     0.0
min        61.000000      0.000000     0.000000    -8.000000  2013.0     3.0
25%      3493.000000      0.000000     0.000000    -1.000000  2013.0     3.0
50%      6891.000000      0.000000     1.000000     1.000000  2013.0     3.0
75%     17940.000000      0.000000     1.000000     1.000000  2013.0     3.0
max    482174.000000  10995.000000     1.000000    21.000000  2013.0     3.0

## 2) Select the columns of interest

In [27]:
b = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port','pax', 'year'], nrows=1000)

In [28]:
b.head()

   arr_port  pax  year
0  LHR        -1  2013
1  CLT         1  2013
2  CLT         1  2013
3  SVO         1  2013
4  SVO         1  2013

## 3) What to do with NaN?

in the sample everything might be ok, but we should prepare fot NaN case

In [29]:
b=b.dropna()

## Ready to code

What do we have so far?

In [37]:
b = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port','pax', 'year'], nrows=1000)
b=b.dropna()

## 4) make action plan

1) filter 2013 
2) group by arr_port
3) sum pax
4) sort
5) get top 10

#### 4.1) Get only the booking from 2013

In [38]:
b=b[b['year']==2013]

In [39]:
b.drop('year',axis=1, inplace=True)

In [40]:
b.head()

   arr_port  pax
0  LHR        -1
1  CLT         1
2  CLT         1
3  SVO         1
4  SVO         1

#### 4.2) group by arr_port

In [41]:
arr_ports=b.groupby('arr_port')

In [42]:
arr_ports.groups

{'ACC     ': Int64Index([118, 119], dtype='int64'),
 'ADD     ': Int64Index([207, 208, 301, 302], dtype='int64'),
 'AGP     ': Int64Index([397, 398], dtype='int64'),
 'ALA     ': Int64Index([76, 77], dtype='int64'),
 'ALC     ': Int64Index([909, 910], dtype='int64'),
 'ALG     ': Int64Index([34, 35, 36, 37, 558, 559], dtype='int64'),
 'AMD     ': Int64Index([732], dtype='int64'),
 'AMS     ': Int64Index([494, 888, 889, 890, 891], dtype='int64'),
 'ANC     ': Int64Index([432, 433], dtype='int64'),
 'ASU     ': Int64Index([548, 549, 550, 551, 724, 725], dtype='int64'),
 'ATH     ': Int64Index([313, 314, 739, 748], dtype='int64'),
 'ATL     ': Int64Index([147, 404, 908], dtype='int64'),
 'ATQ     ': Int64Index([801, 802, 803], dtype='int64'),
 'AUH     ': Int64Index([733, 734], dtype='int64'),
 'AUS     ': Int64Index([380, 381], dtype='int64'),
 'AYT     ': Int64Index([81, 82, 83, 500], dtype='int64'),
 'BBI     ': Int64Index([151, 152], dtype='int64'),
 'BCN     ': Int64Index([320, 321, 979], dtype='int64'),
 'BEY     ': Int64Index([415, 416, 509, 510], dtype='int64'),
 'BHM     ': Int64Index([497, 498, 499], dtype='int64'),
 'BJV     ': Int64Index([695, 696], dtype='int64'),
 'BJX     ': Int64Index([983, 984], dtype='int64'),
 'BKK     ': Int64Index([100, 101], dtype='int64'),
 'BLQ     ': Int64Index([718, 719], dtype='int64'),
 'BLR     ': Int64Index([49, 50, 51, 308], dtype='int64'),
 'BNA     ': Int64Index([372, 373, 374, 375, 376, 377, 774, 775, 776, 777], dtype='int64'),
 'BNE     ': Int64Index([335, 336, 337, 338, 795, 796], dtype='int64'),
 'BOG     ': Int64Index([602, 603, 604, 605, 606, 607, 608, 609], dtype='int64'),
 'BOI     ': Int64Index([143, 144, 567], dtype='int64'),
 'BOM     ': Int64Index([576, 577, 622, 623, 624], dtype='int64'),
 'BOS     ': Int64Index([182, 183, 221, 222, 463, 586, 587, 588, 589], dtype='int64'),
 'BRD     ': Int64Index([455, 456], dtype='int64'),
 'BRU     ': Int64Index([262, 263, 264, 265, 735, 736], dtype='int64'),
 'BUD     ': Int64Index([957, 958, 959, 960], dtype='int64'),
 'BUF     ': Int64Index([358, 359], dtype='int64'),
 'BWI     ': Int64Index([52, 53, 102, 103], dtype='int64'),
 'CAG     ': Int64Index([164, 165, 166, 167], dtype='int64'),
 'CAI     ': Int64Index([126, 127, 554, 555], dtype='int64'),
 'CAN     ': Int64Index([728, 729, 730, 731], dtype='int64'),
 'CBR     ': Int64Index([656, 657, 658, 659], dtype='int64'),
 'CCJ     ': Int64Index([324, 325, 326, 327, 477, 478, 479, 480, 481, 482, 483], dtype='int64'),
 'CCS     ': Int64Index([354, 355], dtype='int64'),
 'CDG     ': Int64Index([ 93,  94, 124, 125, 244, 255, 758, 759, 760, 761, 762, 763, 764,
             765, 766, 767, 808, 809, 810, 811],
            dtype='int64'),
 'CGK     ': Int64Index([328, 329, 330, 331, 360, 361, 362, 363], dtype='int64'),
 'CHQ     ': Int64Index([594, 595], dtype='int64'),
 'CLT     ': Int64Index([1, 2, 501, 502, 503, 504, 688, 689, 714, 715, 716, 717, 794], dtype='int64'),
 'CMB     ': Int64Index([740, 741, 742, 743], dtype='int64'),
 'COK     ': Int64Index([332, 552, 553], dtype='int64'),
 'COS     ': Int64Index([170, 171], dtype='int64'),
 'CTA     ': Int64Index([20, 21], dtype='int64'),
 'CUN     ': Int64Index([570, 571, 631, 632, 633, 634], dtype='int64'),
 'CUR     ': Int64Index([421, 422, 423, 424], dtype='int64'),
 'CUZ     ': Int64Index([572, 573, 574, 575], dtype='int64'),
 'CVG     ': Int64Index([85, 86, 87, 88, 89, 90, 662, 663, 664, 665], dtype='int64'),
 'CZM     ': Int64Index([368, 369], dtype='int64'),
 'DAB     ': Int64Index([797], dtype='int64'),
 'DAC     ': Int64Index([652, 653], dtype='int64'),
 'DAY     ': Int64Index([176, 177], dtype='int64'),
 'DCA     ': Int64Index([168, 169, 223, 224, 399, 400, 772, 773, 790, 791, 792, 793], dtype='int64'),
 'DEL     ': Int64Index([54, 55, 56, 57, 192, 282, 283, 284, 285, 846, 847, 864, 967, 968], dtype='int64'),
 'DEN     ': Int64Index([434, 435, 580, 581, 786, 787], dtype='int64'),
 'DFW     ': Int64Index([193, 194, 195, 196, 619, 620, 746, 747], dtype='int64'),
 'DMM     ': Int64Index([38, 39, 40, 41, 42, 43], dtype='int64'),
 'DOH     ': Int64Index([315, 737, 738], dtype='int64'),
 'DTW     ': Int64Index([109, 110, 382, 971, 972, 973, 974], dtype='int64'),
 'DXB     ': Int64Index([342, 343, 344, 345, 346, 347, 348, 349, 484, 485, 486, 487, 488,
             489, 505, 506, 507, 508, 744, 745],
            dtype='int64'),
 'ELP     ': Int64Index([132, 133, 134, 135, 136, 137, 138, 139], dtype='int64'),
 'EWR     ': Int64Index([106, 107, 225, 226, 616, 617], dtype='int64'),
 'EZE     ': Int64Index([816, 817, 818, 819], dtype='int64'),
 'FAI     ': Int64Index([274, 275], dtype='int64'),
 'FAO     ': Int64Index([322, 323], dtype='int64'),
 'FCO     ': Int64Index([78, 79, 80, 865, 866, 867, 868], dtype='int64'),
 'FLL     ': Int64Index([691, 913, 914, 931, 932], dtype='int64'),
 'FRA     ': Int64Index([162, 163, 297, 298], dtype='int64'),
 'FUE     ': Int64Index([646, 647, 648, 649], dtype='int64'),
 'GAU     ': Int64Index([271, 272, 273], dtype='int64'),
 'GIZ     ': Int64Index([880, 881, 882, 883], dtype='int64'),
 'GRU     ': Int64Index([565, 566, 933, 934, 935, 936, 937, 938], dtype='int64'),
 'GUM     ': Int64Index([339, 692], dtype='int64'),
 'HAV     ': Int64Index([95, 96, 97, 98], dtype='int64'),
 'HER     ': Int64Index([900, 901], dtype='int64'),
 'HKG     ': Int64Index([233, 234, 473, 474], dtype='int64'),
 'HMO     ': Int64Index([140], dtype='int64'),
 'HNL     ': Int64Index([441, 442, 443, 444], dtype='int64'),
 'ICN     ': Int64Index([517, 518, 519, 520], dtype='int64'),
 'IND     ': Int64Index([750, 751, 752], dtype='int64'),
 'ISB     ': Int64Index([153, 154, 155, 156], dtype='int64'),
 'IST     ': Int64Index([148, 235, 236, 650, 651, 955, 956], dtype='int64'),
 'ISU     ': Int64Index([635, 636, 637, 638, 639, 640], dtype='int64'),
 'IXE     ': Int64Index([256, 257, 258, 259, 260, 261], dtype='int64'),
 'JAC     ': Int64Index([307, 395, 396, 436], dtype='int64'),
 'JAX     ': Int64Index([975, 976, 977, 978], dtype='int64'),
 'JED     ': Int64Index([268, 269, 309, 310, 311, 312, 707, 896, 897, 898, 899], dtype='int64'),
 'JFK     ': Int64Index([597, 598, 712, 713, 871, 872, 873, 874, 875, 876, 877, 878, 911,
             912, 919, 920],
            dtype='int64'),
 'JNB     ': Int64Index([965, 966], dtype='int64'),
 'KHI     ': Int64Index([850, 851], dtype='int64'),
 'KIV     ': Int64Index([364, 365, 366, 367], dtype='int64'),
 'KUL     ': Int64Index([451, 452, 453, 454, 610, 611], dtype='int64'),
 'LAO     ': Int64Index([641], dtype='int64'),
 'LAS     ': Int64Index([141, 142, 445, 446, 590, 591, 768, 769, 806, 807, 991], dtype='int64'),
 'LAX     ': Int64Index([197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 291, 292, 293,
             294, 511],
            dtype='int64'),
 'LCA     ': Int64Index([157], dtype='int64'),
 'LCY     ': Int64Index([187, 188], dtype='int64'),
 'LED     ': Int64Index([44, 316, 317, 318, 319], dtype='int64'),
 'LGA     ': Int64Index([5, 6, 122, 123, 191, 431, 464, 465, 469, 470, 987, 988, 989, 990], dtype='int64'),
 'LHR     ': Int64Index([0, 158, 159, 160, 161, 350, 351, 844, 845, 869, 870, 944, 945, 946,
             947],
            dtype='int64'),
 'LIM     ': Int64Index([525, 526, 560, 561, 562, 563, 852, 853, 854, 855, 856, 857, 858,
             859],
            dtype='int64'),
 'LIN     ': Int64Index([654, 655], dtype='int64'),
 'LIR     ': Int64Index([211, 788, 789], dtype='int64'),
 'LIS     ': Int64Index([45, 46, 47, 48, 270, 916, 917], dtype='int64'),
 'LIT     ': Int64Index([295, 296], dtype='int64'),
 'LOS     ': Int64Index([753, 754, 755], dtype='int64'),
 'LYR     ': Int64Index([245, 246, 247, 248], dtype='int64'),
 'MAA     ': Int64Index([703, 704, 705, 706], dtype='int64'),
 'MAD     ': Int64Index([462], dtype='int64'),
 'MAN     ': Int64Index([535, 536], dtype='int64'),
 'MCI     ': Int64Index([215, 216, 834, 835], dtype='int64'),
 'MCO     ': Int64Index([180, 181, 495, 496, 537, 538, 539, 540, 541, 542, 680, 681, 682,
             683],
            dtype='int64'),
 'MCT     ': Int64Index([848, 849], dtype='int64'),
 'MDZ     ': Int64Index([627, 820, 821, 822], dtype='int64'),
 'MED     ': Int64Index([556, 557], dtype='int64'),
 'MEL     ': Int64Index([492, 493, 592, 593], dtype='int64'),
 'MEM     ': Int64Index([998, 999], dtype='int64'),
 'MEX     ': Int64Index([104, 276, 277, 612, 613, 614, 615, 840, 841, 842, 843], dtype='int64'),
 'MGW     ': Int64Index([823, 824, 825, 826, 827, 828], dtype='int64'),
 'MIA     ': Int64Index([213, 214, 596, 673, 674, 812, 813, 814, 815, 830, 831, 832, 833,
             904, 905, 906, 907, 941, 942],
            dtype='int64'),
 'MLX     ': Int64Index([628, 629, 630], dtype='int64'),
 'MNL     ': Int64Index([ 59,  60,  61,  62,  63,  64, 642, 643, 701, 702, 921, 922, 923,
             924, 925, 926, 927, 928, 929, 930],
            dtype='int64'),
 'MQN     ': Int64Index([266, 267], dtype='int64'),
 'MRS     ': Int64Index([249, 250, 251, 252, 253, 254, 918, 939, 940], dtype='int64'),
 'MSN     ': Int64Index([992, 993, 994, 995], dtype='int64'),
 'MSO     ': Int64Index([578, 579], dtype='int64'),
 'MSY     ': Int64Index([475, 476], dtype='int64'),
 'MUC     ': Int64Index([290, 708, 709], dtype='int64'),
 'MVD     ': Int64Index([84], dtype='int64'),
 'NAS     ': Int64Index([466, 467, 660, 661, 710, 711, 860, 861, 862, 863], dtype='int64'),
 'NBO     ': Int64Index([545, 546, 547], dtype='int64'),
 'NRT     ': Int64Index([99, 953, 954], dtype='int64'),
 'OAK     ': Int64Index([798, 799], dtype='int64'),
 'OGG     ': Int64Index([231, 232, 693, 694], dtype='int64'),
 'OMA     ': Int64Index([111, 112, 113, 114, 115], dtype='int64'),
 'ORD     ': Int64Index([401, 402, 403, 471, 472, 532, 533, 534, 666, 667, 668, 690, 800], dtype='int64'),
 'ORY     ': Int64Index([407, 408, 409, 410, 411, 412], dtype='int64'),
 'OTP     ': Int64Index([91, 92, 149, 150, 490, 491, 902, 903], dtype='int64'),
 'PBI     ': Int64Index([425, 426], dtype='int64'),
 'PDX     ': Int64Index([299, 300, 669, 670, 915, 980], dtype='int64'),
 'PHL     ': Int64Index([599, 600], dtype='int64'),
 'PHX     ': Int64Index([209, 210, 227, 228, 229, 230, 671, 672, 684, 685, 686, 687], dtype='int64'),
 'PVG     ': Int64Index([30, 31, 32, 172, 173, 174, 178, 179, 352, 353, 447, 448, 449, 450], dtype='int64'),
 'PVR     ': Int64Index([981, 982], dtype='int64'),
 'RAK     ': Int64Index([948, 949, 950, 951], dtype='int64'),
 'REN     ': Int64Index([527, 528], dtype='int64'),
 'RUH     ': Int64Index([356, 357], dtype='int64'),
 'SAN     ': Int64Index([582, 583], dtype='int64'),
 'SAT     ': Int64Index([625, 626], dtype='int64'),
 'SAV     ': Int64Index([105], dtype='int64'),
 'SDF     ': Int64Index([120, 121, 618], dtype='int64'),
 'SDQ     ': Int64Index([943], dtype='int64'),
 'SDU     ': Int64Index([427, 428, 429, 430], dtype='int64'),
 'SFO     ': Int64Index([108, 370, 371, 584, 585, 601, 697, 698, 699, 700, 829, 996, 997], dtype='int64'),
 'SGC     ': Int64Index([33], dtype='int64'),
 'SGN     ': Int64Index([378, 379, 383, 384, 385, 386, 387, 388, 389, 390, 720, 721, 722,
             723],
            dtype='int64'),
 'SHA     ': Int64Index([175], dtype='int64'),
 'SHV     ': Int64Index([892, 893, 894, 895], dtype='int64'),
 'SIN     ': Int64Index([7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 340, 341], dtype='int64'),
 'SJD     ': Int64Index([189, 190], dtype='int64'),
 'SJO     ': Int64Index([985, 986], dtype='int64'),
 'SJU     ': Int64Index([278, 279, 280, 281, 405, 406], dtype='int64'),
 'SKG     ': Int64Index([186], dtype='int64'),
 'SMI     ': Int64Index([749], dtype='int64'),
 'SNA     ': Int64Index([413, 414, 568, 569], dtype='int64'),
 'SOF     ': Int64Index([512, 513, 514, 515, 516, 770, 771, 778, 779, 780, 781, 782, 783,
             784, 785],
            dtype='int64'),
 'SSA     ': Int64Index([644, 645], dtype='int64'),
 'STL     ': Int64Index([219, 220], dtype='int64'),
 'SVO     ': Int64Index([3, 4, 457, 458, 459, 460, 461, 969, 970], dtype='int64'),
 'SVQ     ': Int64Index([529], dtype='int64'),
 'SXM     ': Int64Index([303, 304, 305, 306], dtype='int64'),
 'SYD     ': Int64Index([212, 530, 531, 756, 757], dtype='int64'),
 'TIA     ': Int64Index([184, 185], dtype='int64'),
 'TLS     ': Int64Index([543, 544, 836, 837, 838, 839], dtype='int64'),
 'TLV     ': Int64Index([128, 129, 130, 131, 952], dtype='int64'),
 'TPA     ': Int64Index([58], dtype='int64'),
 'TUS     ': Int64Index([19, 468], dtype='int64'),
 'TXL     ': Int64Index([237, 238, 239, 240], dtype='int64'),
 'TYR     ': Int64Index([145, 146], dtype='int64'),
 'ULN     ': Int64Index([65, 66], dtype='int64'),
 'UVF     ': Int64Index([437, 438, 439, 440], dtype='int64'),
 'VPS     ': Int64Index([417, 418, 419, 420], dtype='int64'),
 'VVI     ': Int64Index([726, 727], dtype='int64'),
 'WAW     ': Int64Index([241, 242, 243, 564], dtype='int64'),
 'WDH     ': Int64Index([521, 522, 523, 524], dtype='int64'),
 'WRO     ': Int64Index([879], dtype='int64'),
 'YHZ     ': Int64Index([217, 218], dtype='int64'),
 'YNB     ': Int64Index([884, 885, 886, 887], dtype='int64'),
 'YUL     ': Int64Index([333, 334], dtype='int64'),
 'YVR     ': Int64Index([116, 117, 675, 676, 677, 804, 805], dtype='int64'),
 'YWG     ': Int64Index([22, 23, 24, 25, 26, 27, 28, 29, 391, 392, 393, 394], dtype='int64'),
 'YXE     ': Int64Index([621], dtype='int64'),
 'YYC     ': Int64Index([961, 962, 963, 964], dtype='int64'),
 'YYZ     ': Int64Index([678, 679], dtype='int64'),
 'ZRH     ': Int64Index([67, 68, 69, 70, 71, 72, 73, 74, 75, 286, 287, 288, 289], dtype='int64')}

In [43]:
arr_ports.get_group('ACC     ')

     arr_port  pax
118  ACC         3
119  ACC         3

In [46]:
type(arr_ports)

pandas.core.groupby.DataFrameGroupBy

In [45]:
for airport, val in arr_ports:
    print "%s" %(airport)
    print val['pax'].sum()

ACC
6
ADD
2
AGP
6
ALA
2
ALC
4
ALG
0
AMD
1
AMS
1
ANC
0
ASU
-10
ATH
4
ATL
3
ATQ
1
AUH
0
AUS
2
AYT
0
BBI
0
BCN
5
BEY
4
BHM
-1
BJV
8
BJX
2
BKK
2
BLQ
2
BLR
0
BNA
4
BNE
6
BOG
0
BOI
3
BOM
5
BOS
11
BRD
2
BRU
2
BUD
0
BUF
2
BWI
10
CAG
0
CAI
2
CAN
0
CBR
0
CCJ
-3
CCS
0
CDG
4
CGK
12
CHQ
0
CLT
5
CMB
0
COK
7
COS
6
CTA
0
CUN
4
CUR
0
CUZ
0
CVG
2
CZM
4
DAB
2
DAC
4
DAY
2
DCA
50
DEL
7
DEN
6
DFW
-2
DMM
2
DOH
3
DTW
3
DXB
0
ELP
0
EWR
8
EZE
2
FAI
4
FAO
2
FCO
3
FLL
13
FRA
4
FUE
0
GAU
-3
GIZ
0
GRU
0
GUM
2
HAV
0
HER
4
HKG
2
HMO
1
HNL
0
ICN
0
IND
3
ISB
0
IST
7
ISU
0
IXE
0
JAC
0
JAX
0
JED
-1
JFK
14
JNB
2
KHI
2
KIV
0
KUL
2
LAO
-2
LAS
11
LAX
5
LCA
1
LCY
4
LED
1
LGA
12
LHR
7
LIM
4
LIN
2
LIR
6
LIS
5
LIT
2
LOS
1
LYR
0
MAA
0
MAD
1
MAN
4
MCI
4
MCO
0
MCT
0
MDZ
0
MED
0
MEL
0
MEM
0
MEX
5
MGW
2
MIA
11
MLX
-3
MNL
2
MQN
6
MRS
3
MSN
2
MSO
2
MSY
0
MUC
3
MVD
2
NAS
-8
NBO
3
NRT
8
OAK
2
OGG
0
OMA
1
ORD
9
ORY
2
OTP
2
PBI
2
PDX
6
PHL
2
PHX
4
PVG
13
PVR
4
RAK
0
REN
2
RUH
2
SAN
0
SAT
2
SAV
6
SDF
3
SDQ
1
SDU
2
SFO
9
SGC
1
SGN
2
SHA
1
SHV
4
SIN
2
SJD
4
SJO
0
SJU
6
SKG
1
SMI
1
SNA
4
SOF
1
SSA
2
STL
2
SVO
12
SVQ
1
SXM
0
SYD
-1
TIA
2
TLS
0
TLV
1
TPA
2
TUS
2
TXL
0
TYR
2
ULN
2
UVF
0
VPS
2
VVI
0
WAW
0
WDH
2
WRO
1
YHZ
2
YNB
0
YUL
0
YVR
5
YWG
4
YXE
1
YYC
0
YYZ
2
ZRH
-1

#### 4.3) Sum, sort and get top 10

In [47]:
arr_ports.sum()

          pax
arr_port
ACC         6
ADD         2
AGP         6
ALA         2
ALC         4
ALG         0
AMD         1
AMS         1
ANC         0
ASU       -10
ATH         4
ATL         3
ATQ         1
AUH         0
AUS         2
AYT         0
BBI         0
BCN         5
BEY         4
BHM        -1
BJV         8
BJX         2
BKK         2
BLQ         2
BLR         0
BNA         4
BNE         6
BOG         0
BOI         3
BOM         5
...       ...
SOF         1
SSA         2
STL         2
SVO        12
SVQ         1
SXM         0
SYD        -1
TIA         2
TLS         0
TLV         1
TPA         2
TUS         2
TXL         0
TYR         2
ULN         2
UVF         0
VPS         2
VVI         0
WAW         0
WDH         2
WRO         1
YHZ         2
YNB         0
YUL         0
YVR         5
YWG         4
YXE         1
YYC         0
YYZ         2
ZRH        -1

[201 rows x 1 columns]

In [48]:
arr_ports.sum().sort_values('pax',ascending=False).head(10)

          pax
arr_port
DCA        50
JFK        14
FLL        13
PVG        13
CGK        12
LGA        12
SVO        12
LAS        11
BOS        11
MIA        11

## 5) Adjust the code to work with Big data

What do we have so far?

In [49]:
b = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port','pax', 'year'], nrows=1000)
b=b.dropna()
b=b[b['year']==2013]
b.drop('year',axis=1, inplace=True)
arr_ports=b.groupby('arr_port')
arr_ports.sum().sort_values('pax',ascending=False).head(10)

          pax
arr_port
DCA        50
JFK        14
FLL        13
PVG        13
CGK        12
LGA        12
SVO        12
LAS        11
BOS        11
MIA        11

In [62]:
b = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port','pax', 'year']\
                , iterator=True)

In [51]:
type(b)

pandas.io.parsers.TextFileReader

In [52]:
b2 = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port','pax', 'year'], nrows=1000)
type(b2)

pandas.core.frame.DataFrame

In [63]:
b0=b.get_chunk(1000)

In [54]:
type(b0)

pandas.core.frame.DataFrame

In [64]:
b1=b.get_chunk(8000)

In [65]:
b2=b.get_chunk(3000)

In [66]:
len(b2)

999

In [73]:
b = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port','pax', 'year']\
                , chunksize=4000)

In [68]:
type(b)

pandas.io.parsers.TextFileReader

In [74]:
b0=b.next()

In [75]:
b1=b.next()

In [76]:
b2=b.get_chunk(4000)

In [77]:
len(b2)

1999

In [79]:
b = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port','pax', 'year']\
                , chunksize=4000)
for i, chunk in enumerate(b):
    print chunk.head()
    if i==3:
        break

   arr_port  pax  year
0  LHR        -1  2013
1  CLT         1  2013
2  CLT         1  2013
3  SVO         1  2013
4  SVO         1  2013
      arr_port  pax  year
4000  IST         1  2013
4001  IST         1  2013
4002  BWI        -1  2013
4003  BWI         1  2013
4004  BWI        -1  2013
      arr_port  pax  year
8000  LAX         2  2013
8001  LAX        -2  2013
8002  LAX        -2  2013
8003  LAX         2  2013
8004  LAX         2  2013

Here comes the code...

In [82]:
bc = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port','pax', 'year']\
                , chunksize=4000)
sum_chunks=pd.DataFrame()

for i, b in enumerate(bc):
    print "Chunk: %d, size of chunk %d"%(i+1, len(b))
    b=b.dropna()
    b=b[b['year']==2013]
    b.drop('year',axis=1, inplace=True)
    arr_ports=b.groupby('arr_port')
    chunk_result= arr_ports.sum()
    sum_chunks=sum_chunks.append(chunk_result)
    
    #.sort_values('pax',ascending=False)
    #.head(10)
sum_chunks.head()

Chunk: 1, size of chunk 4000
Chunk: 2, size of chunk 4000
Chunk: 3, size of chunk 1999

          pax
arr_port
ABQ         4
ABV         0
ABZ        -2
ACC         0
ADD         4

In [83]:
sum_chunks.head()

          pax
arr_port
ABQ         4
ABV         0
ABZ        -2
ACC         0
ADD         4

We have to groupby, sum and sort all the results which correspond to the processing of a single chunk

In [88]:
Top_airports=sum_chunks.groupby(sum_chunks.index)\
    .pax.sum().sort_values(ascending=False).reset_index()

In [89]:
Top_airports.head()

   arr_port  pax
0  HKG       112
1  LGA        95
2  ORD        94
3  JFK        92
4  SFO        91

Compare the results to the simple approach without the chunks. This is to be sure that the concatenation of the chunk results is ok.

In [91]:
b = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port','pax', 'year'])
b=b.dropna()
b=b[b['year']==2013]
b.drop('year',axis=1, inplace=True)
arr_ports=b.groupby('arr_port')
arr_ports.sum().sort_values('pax',ascending=False).head()

          pax
arr_port
HKG       112
LGA        95
ORD        94
JFK        92
LAX        91

Ready to process the BIG file!!!

In [93]:
%%time
bc = pd.read_csv('bookings.csv.bz2',sep='^', usecols=['arr_port','pax', 'year']\
                , chunksize=1000000)
sum_chunks=pd.DataFrame()

for i, b in enumerate(bc):
    print "Chunk: %d, size of chunk %d"%(i+1, len(b))
    b=b.dropna()
    b=b[b['year']==2013]
    b.drop('year',axis=1, inplace=True)
    arr_ports=b.groupby('arr_port')
    chunk_result= arr_ports.sum()
    sum_chunks=sum_chunks.append(chunk_result)

Top_airports=sum_chunks.groupby(sum_chunks.index)\
    .pax.sum().sort_values(ascending=False).reset_index()

Chunk: 1, size of chunk 1000000
Chunk: 2, size of chunk 1000000
Chunk: 3, size of chunk 1000000
Chunk: 4, size of chunk 1000000
Chunk: 5, size of chunk 1000000
Chunk: 6, size of chunk 1000000
Chunk: 7, size of chunk 1000000
Chunk: 8, size of chunk 1000000
Chunk: 9, size of chunk 1000000
Chunk: 10, size of chunk 1000000
Chunk: 11, size of chunk 10
CPU times: user 4min 30s, sys: 1.11 s, total: 4min 31s
Wall time: 4min 36s

In [94]:
Top_airports.head(10)

   arr_port      pax
0  LHR       88809.0
1  MCO       70930.0
2  LAX       70530.0
3  LAS       69630.0
4  JFK       66270.0
5  CDG       64490.0
6  BKK       59460.0
7  MIA       58150.0
8  SFO       58000.0
9  DXB       55590.0

In [95]:
len(Top_airports)

2274

Bonus point

In [ ]:
#install it with: pip install GeoBases

In [96]:
from GeoBases import GeoBase

In [99]:
geoDict=GeoBase(data='ori_por',verbose=False)

In [101]:
geoDict.keys()[:10]

['MLC',
 'XMZ',
 'XQP@1',
 'JED@1',
 'MFI@1',
 'JGO@1',
 'YAL@1',
 'NDP',
 'GEG@1',
 'NDS']

In [102]:
geoDict.fields

['__key__',
 '__dup__',
 '__par__',
 '__lno__',
 'iata_code',
 'icao_code',
 'faa_code',
 'is_geonames',
 'geoname_id',
 'valid_id',
 'name',
 'asciiname',
 'lat',
 'lng',
 'fclass',
 'fcode',
 'page_rank',
 'date_from',
 'date_until',
 'comment',
 'country_code',
 'cc2',
 'country_name',
 'continent_name',
 'adm1_code',
 'adm1_name_utf',
 'adm1_name_ascii',
 'adm2_code',
 'adm2_name_utf',
 'adm2_name_ascii',
 'adm3_code',
 'adm4_code',
 'population',
 'elevation',
 'gtopo30',
 'timezone',
 'gmt_offset',
 'dst_offset',
 'raw_offset',
 'moddate',
 'city_code',
 'city_name_utf',
 'city_name_ascii',
 'tvl_por_list@raw',
 'tvl_por_list',
 'state_code',
 'location_type@raw',
 'location_type',
 'wiki_link',
 'alt_name_section@raw',
 'alt_name_section',
 '__gar__']

In [103]:
geoDict.get?

In [104]:
geoDict.get('LHR', 'city_name_utf')

'London'

In [105]:
geoDict.get('LHR')['name']

'London Heathrow Airport'

In [107]:
Top_airports['arr_port'][0]

'LHR     '

In [108]:
Top_airports['arr_port'][0].strip()

'LHR'

In [109]:
geoDict.get(Top_airports['arr_port'][0].strip())['name']

'London Heathrow Airport'

In [113]:
Top_airports['Airport Name']=Top_airports['arr_port'].\
map(lambda x: geoDict.get(x.strip())['name'])

In [114]:
Top_airports.head()

   arr_port      pax                          Airport Name
0  LHR       88809.0               London Heathrow Airport
1  MCO       70930.0         Orlando International Airport
2  LAX       70530.0     Los Angeles International Airport
3  LAS       69630.0       Mc Carran International Airport
4  JFK       66270.0  John F Kennedy International Airport

Save to file so we can use it in exercise 5.

In [115]:
Top_airports.to_csv('top_airports.csv', sep='^', index=False)

In [116]:
!ls -l

total 1020616
-rw-rw-r--. 1 dsc dsc 554970628 Jan  4  2016 bookings.csv.bz2
-rw-rw-r--  1 dsc dsc    535893 May 19 17:15 bookings.sample.csv.bz2
-rw-rw-r--  1 dsc dsc   4232732 May 19 17:39 bookings.sample.csv.csv
-rw-rw-r--. 1 dsc dsc 483188920 Jan  4  2016 searches.csv.bz2
-rw-rw-r--  1 dsc dsc    244720 May 19 17:20 searches.sample.csv.bz2
-rw-rw-r--  1 dsc dsc   1824927 May 19 17:39 searches.sample.csv.csv
-rw-rw-r--  1 dsc dsc     84696 May 19 20:55 top_airports.csv