## Match searches with bookings

- For every search in the searches file, find out whether the search ended up in a booking or not (using the info in the bookings file). For instance, search and booking origin and destination should match. 

- For the bookings file, origin and destination are the columns dep_port and arr_port, respectively. 

- Generate a CSV file with the search data, and an additional field, containing 1 if the search ended up in a booking, and 0 otherwise.

1) Get familiar with data
2) Prepare the data for processing

3) Make action plan
4) Develop the code that works with a sample

5) Adjust the code to work with Big data
6) Test big data approach on a sample

7) Run program with big data

## 2) Prepare the data for processing

### Booking

#### We didnt check for duplicates so far... What if the file is has duplicated lines?

# pd.set_option('display.max_columns', None)

In [1]:
import pandas as pd

In [2]:
cd ~/Data/challenge/

/home/dsc/Data/challenge

In [5]:
bc = pd.read_csv('./bookings.csv.bz2', sep='^', chunksize=300000, low_memory = False)

In [7]:
bc = pd.read_csv('./bookings.csv.bz2', sep='^', chunksize=300000, low_memory = False)
all_chunks=pd.DataFrame()
for i, chunk in enumerate(bc):
    all_chunks=all_chunks.append(chunk)
    all_chunks=all_chunks.drop_duplicates()
    print "Chunk %d, keeping %d lines" % (i+1, len(all_chunks))

Chunk 1, keeping 300000 lines
Chunk 2, keeping 600000 lines
Chunk 3, keeping 900000 lines
Chunk 4, keeping 1000000 lines
Chunk 5, keeping 1000000 lines
Chunk 6, keeping 1000000 lines
Chunk 7, keeping 1000000 lines
Chunk 8, keeping 1000000 lines
Chunk 9, keeping 1000000 lines
Chunk 10, keeping 1000000 lines
Chunk 11, keeping 1000000 lines
Chunk 12, keeping 1000000 lines
Chunk 13, keeping 1000000 lines
Chunk 14, keeping 1000000 lines
Chunk 15, keeping 1000000 lines
Chunk 16, keeping 1000000 lines
Chunk 17, keeping 1299993 lines
Chunk 18, keeping 1299993 lines
Chunk 19, keeping 1299993 lines
Chunk 20, keeping 1299993 lines
Chunk 21, keeping 1299993 lines
Chunk 22, keeping 1299993 lines
Chunk 23, keeping 1299993 lines
Chunk 24, keeping 1299993 lines
Chunk 25, keeping 1299993 lines
Chunk 26, keeping 1299993 lines
Chunk 27, keeping 1299993 lines
Chunk 28, keeping 1299993 lines
Chunk 29, keeping 1299993 lines
Chunk 30, keeping 1299993 lines
Chunk 31, keeping 1299993 lines
Chunk 32, keeping 1299993 lines
Chunk 33, keeping 1299993 lines
Chunk 34, keeping 1299993 lines

In [8]:
all_chunks.to_csv('bookings.no_dup.csv', sep='^', index=False)
!bzip2 -f bookings.no_dup.csv

In [9]:
!ls -l

total 1095840
-rw-rw-r--. 1 dsc dsc 554970628 Jan  4  2016 bookings.csv.bz2
-rw-rw-r--  1 dsc dsc  72211641 May 20 12:48 bookings.no_dup.csv.bz2
-rw-rw-r--  1 dsc dsc    535893 May 19 17:15 bookings.sample.csv.bz2
-rw-rw-r--  1 dsc dsc   4232732 May 19 17:39 bookings.sample.csv.csv
-rw-rw-r--. 1 dsc dsc 483188920 Jan  4  2016 searches.csv.bz2
-rw-rw-r--  1 dsc dsc   4811806 May 20 10:50 searches.sample2.csv.bz2
-rw-rw-r--  1 dsc dsc    244720 May 19 17:20 searches.sample.csv.bz2
-rw-rw-r--  1 dsc dsc   1824927 May 19 17:39 searches.sample.csv.csv
-rw-rw-r--  1 dsc dsc     84696 May 19 20:55 top_airports.csv

In [10]:
bc = pd.read_csv('./searches.csv.bz2', sep='^', chunksize=300000, low_memory = False)
all_chunks=pd.DataFrame()
for i, chunk in enumerate(bc):
    all_chunks=all_chunks.append(chunk)
    all_chunks=all_chunks.drop_duplicates()
    print "Chunk %d, keeping %d lines" % (i+1, len(all_chunks))

Chunk 1, keeping 299999 lines
Chunk 2, keeping 358999 lines
Chunk 3, keeping 358999 lines
Chunk 4, keeping 358999 lines
Chunk 5, keeping 658992 lines
Chunk 6, keeping 718002 lines
Chunk 7, keeping 718002 lines
Chunk 8, keeping 718002 lines
Chunk 9, keeping 718002 lines
Chunk 10, keeping 718002 lines
Chunk 11, keeping 718002 lines
Chunk 12, keeping 718002 lines
Chunk 13, keeping 718002 lines
Chunk 14, keeping 718002 lines
Chunk 15, keeping 718002 lines
Chunk 16, keeping 718002 lines
Chunk 17, keeping 718002 lines
Chunk 18, keeping 718002 lines
Chunk 19, keeping 718002 lines
Chunk 20, keeping 718002 lines
Chunk 21, keeping 718002 lines
Chunk 22, keeping 718002 lines
Chunk 23, keeping 718002 lines
Chunk 24, keeping 718002 lines
Chunk 25, keeping 718002 lines
Chunk 26, keeping 718002 lines
Chunk 27, keeping 718002 lines
Chunk 28, keeping 718002 lines
Chunk 29, keeping 718002 lines
Chunk 30, keeping 718002 lines
Chunk 31, keeping 718002 lines
Chunk 32, keeping 718002 lines
Chunk 33, keeping 718002 lines
Chunk 34, keeping 718002 lines
Chunk 35, keeping 718002 lines
Chunk 36, keeping 718002 lines
Chunk 37, keeping 718002 lines
Chunk 38, keeping 718002 lines
Chunk 39, keeping 718002 lines
Chunk 40, keeping 718002 lines
Chunk 41, keeping 718002 lines
Chunk 42, keeping 718002 lines
Chunk 43, keeping 718002 lines
Chunk 44, keeping 718002 lines
Chunk 45, keeping 718002 lines
Chunk 46, keeping 718002 lines
Chunk 47, keeping 718002 lines
Chunk 48, keeping 718002 lines
Chunk 49, keeping 718002 lines
Chunk 50, keeping 718002 lines
Chunk 51, keeping 718002 lines
Chunk 52, keeping 718002 lines
Chunk 53, keeping 718002 lines
Chunk 54, keeping 718002 lines
Chunk 55, keeping 718002 lines
Chunk 56, keeping 718002 lines
Chunk 57, keeping 718002 lines
Chunk 58, keeping 718002 lines
Chunk 59, keeping 718002 lines
Chunk 60, keeping 718002 lines
Chunk 61, keeping 718002 lines
Chunk 62, keeping 718002 lines
Chunk 63, keeping 718002 lines
Chunk 64, keeping 718002 lines
Chunk 65, keeping 718002 lines
Chunk 66, keeping 718002 lines
Chunk 67, keeping 718002 lines
Chunk 68, keeping 718003 lines

In [11]:
all_chunks.to_csv('searches.no_dup.csv', sep='^', index=False)
!bzip2 -f searches.no_dup.csv

In [12]:
!ls -l

total 1112552
-rw-rw-r--. 1 dsc dsc 554970628 Jan  4  2016 bookings.csv.bz2
-rw-rw-r--  1 dsc dsc  72211641 May 20 12:48 bookings.no_dup.csv.bz2
-rw-rw-r--  1 dsc dsc    535893 May 19 17:15 bookings.sample.csv.bz2
-rw-rw-r--  1 dsc dsc   4232732 May 19 17:39 bookings.sample.csv.csv
-rw-rw-r--. 1 dsc dsc 483188920 Jan  4  2016 searches.csv.bz2
-rw-rw-r--  1 dsc dsc  17112287 May 20 13:04 searches.no_dup.csv.bz2
-rw-rw-r--  1 dsc dsc   4811806 May 20 10:50 searches.sample2.csv.bz2
-rw-rw-r--  1 dsc dsc    244720 May 19 17:20 searches.sample.csv.bz2
-rw-rw-r--  1 dsc dsc   1824927 May 19 17:39 searches.sample.csv.csv
-rw-rw-r--  1 dsc dsc     84696 May 19 20:55 top_airports.csv

#### Action plan

In [ ]:
1) Bookings: [act_date, dep_port, arr_port]
Searches: [search_date, origin, destination]

2) dates de string a datetime object
3) remove whitespaces (from columns names and content)
4) remove NaN
5) match Bookings & Searches -> put 1 if search_date, O&D == booking_date, O&D

In [13]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [15]:
import pandas as pd

In [17]:
b = pd.read_csv('./bookings.no_dup.csv.bz2', sep='^',nrows=100)

In [18]:
b.columns.tolist()

['act_date           ',
 'source',
 'pos_ctry',
 'pos_iata',
 'pos_oid  ',
 'rloc          ',
 'cre_date           ',
 'duration',
 'distance',
 'dep_port',
 'dep_city',
 'dep_ctry',
 'arr_port',
 'arr_city',
 'arr_ctry',
 'lst_port',
 'lst_city',
 'lst_ctry',
 'brd_port',
 'brd_city',
 'brd_ctry',
 'off_port',
 'off_city',
 'off_ctry',
 'mkt_port',
 'mkt_city',
 'mkt_ctry',
 'intl',
 'route          ',
 'carrier',
 'bkg_class',
 'cab_class',
 'brd_time           ',
 'off_time           ',
 'pax',
 'year',
 'month',
 'oid      ']

In [19]:
b = pd.read_csv('./bookings.no_dup.csv.bz2', sep='^',\
                usecols=['act_date           ', 'arr_port', 'dep_port'])

In [20]:
s = pd.read_csv('./searches.no_dup.csv.bz2', sep='^',\
                usecols=['Date', 'Origin', 'Destination'])

In [21]:
b.iloc[0].tolist()

['2013-03-05 00:00:00', 'ZRH     ', 'LHR     ']

In [22]:
s.iloc[0].tolist()

['2013-01-01', 'TXL', 'AUH']

###  Search

In [24]:
b.iloc[0]['arr_port'].strip()

'LHR'

In [30]:
b['arr_port']=b['arr_port'].str.strip()

In [28]:
b['dep_port']=b['dep_port'].map(lambda x:str(x).strip())

In [29]:
b.iloc[0].tolist()

['2013-03-05 00:00:00', 'ZRH', 'LHR']

In [35]:
b.columns=b.columns.str.strip()

In [36]:
b.columns.tolist()

['act_date', 'dep_port', 'arr_port']

In [39]:
b['act_date']=b['act_date'].str[0:10]

In [40]:
b.iloc[0].tolist()

['2013-03-05', 'ZRH', 'LHR']

In [41]:
s.iloc[0].tolist()

['2013-01-01', 'TXL', 'AUH']

In [42]:
b = pd.read_csv('./bookings.no_dup.csv.bz2', sep='^',\
                usecols=['act_date           ', 'arr_port', 'dep_port'])
s = pd.read_csv('./searches.no_dup.csv.bz2', sep='^',\
                usecols=['Date', 'Origin', 'Destination'])
b['arr_port']=b['arr_port'].str.strip()
b['dep_port']=b['dep_port'].map(lambda x:str(x).strip())
b.columns=b.columns.str.strip()
b['act_date']=b['act_date'].str[0:10]

print "before drop b=%d, s=%d"%(len(b),len(s))
b=b.dropna()
s=s.dropna()
print "after drop b=%d, s=%d"%(len(b),len(s))

before drop b=1299993, s=718003
after drop b=1299993, s=718002

In [51]:
b_gr=b.reset_index().groupby(['dep_port', 'arr_port', 'act_date']).count().reset_index()

In [52]:
b_gr.head()

  dep_port arr_port    act_date  index
0      AAB      ROV  2013-05-29      2
1      AAB      ROV  2013-08-24      2
2      AAE      ALG  2013-01-07      1
3      AAE      ALG  2013-01-08      2
4      AAE      ALG  2013-01-09      6

We need to save the index for the final merge with raw data from the file without duplicates

In [53]:
s_with_index=s.reset_index()

In [54]:
s_with_index.tail()

         index        Date Origin Destination
717997  717998  2013-05-03    CPH         AYT
717998  717999  2013-05-03    NYC         YTO
717999  718000  2013-05-03    TRF         TRD
718000  718001  2013-05-03    IAH         RDU
718001  718002  2013-10-13    VIE          HA

In [56]:
s_with_b=s_with_index.merge(b_gr, 
                           how='left',
                           left_on=['Date', 'Origin', 'Destination'],
                           right_on=['act_date', 'dep_port','arr_port'])

In [57]:
len(s_with_index)

718002

In [58]:
len(s_with_b)

718002

In [59]:
s_with_b.head()

   index_x        Date Origin Destination dep_port arr_port act_date  index_y
0        0  2013-01-01    TXL         AUH      NaN      NaN      NaN      NaN
1        1  2013-01-01    ATH         MIL      NaN      NaN      NaN      NaN
2        2  2013-01-01    ICT         SFO      NaN      NaN      NaN      NaN
3        3  2013-01-01    RNB         ARN      NaN      NaN      NaN      NaN
4        4  2013-01-01    OSL         MAD      NaN      NaN      NaN      NaN

In [60]:
s_with_b[s_with_b['index_y']>0].head()

,index_x,Date,Origin,Destination,dep_port,arr_port,act_date,index_y
23,23,2013-01-01,DUS,IST,DUS,IST,2013-01-01,1.0
27,27,2013-01-01,RUH,JED,RUH,JED,2013-01-01,17.0
40,40,2013-01-01,DMM,MNL,DMM,MNL,2013-01-01,1.0
59,59,2013-01-01,ATL,MIA,ATL,MIA,2013-01-01,4.0
94,94,2013-01-01,DXB,KUL,DXB,KUL,2013-01-01,1.0

In [62]:
s_file = pd.read_csv('./searches.no_dup.csv.bz2', sep='^', low_memory=False)

In [63]:
result=s_file.merge(s_with_b,
                how='left',
                left_index=True,
                right_on='index_x')

In [64]:
result.tail()

,Date_x,Time,TxnCode,OfficeID,Country,Origin_x,Destination_x,RoundTrip,NbSegments,Seg1Departure,...,TerminalID,InternetOffice,index_x,Date_y,Origin_y,Destination_y,dep_port,arr_port,act_date,index_y
717997,2013-05-03,10:28:25,MPT,01a4373dc0878961ab038a4089f8d4a7,DK,CPH,AYT,1.0,2.0,CPH,...,d41d8cd98f00b204e9800998ecf8427e,CPH,717998,2013-05-03,CPH,AYT,NaN,NaN,NaN,NaN
717998,2013-05-03,15:00:52,MPT,4e93208c7efe7d16455c6a887367cdbd,US,NYC,YTO,0.0,1.0,NYC,...,d41d8cd98f00b204e9800998ecf8427e,DCA,717999,2013-05-03,NYC,YTO,NaN,NaN,NaN,NaN
717999,2013-05-03,00:40:36,FXP,439c0bb10ec8b58c68da567c40399a05,NO,TRF,TRD,0.0,1.0,TRF,...,d41d8cd98f00b204e9800998ecf8427e,OSL,718000,2013-05-03,TRF,TRD,NaN,NaN,NaN,NaN
718000,2013-05-03,21:10:30,MPT,3561a60621de06ab1badc8ca55699ef3,US,IAH,RDU,1.0,2.0,IAH,...,d41d8cd98f00b204e9800998ecf8427e,NYC,718001,2013-05-03,IAH,RDU,NaN,NaN,NaN,NaN
718001,2013-10-13,18:57:54,MTP,e41c9d833aa74600552f2ed688b67d81,AT,VIE,HA,NaN,NaN,NaN,...,NaN,NaN,718002,2013-10-13,VIE,HA,NaN,NaN,NaN,NaN

#### If we dont want to drop the duplicates

In [65]:
result['Booked']=result['index_y'].fillna(0).map(lambda x:1 if x>0 else 0)

In [68]:
result.sample(10)

,Date_x,Time,TxnCode,OfficeID,Country,Origin_x,Destination_x,RoundTrip,NbSegments,Seg1Departure,...,InternetOffice,index_x,Date_y,Origin_y,Destination_y,dep_port,arr_port,act_date,index_y,Booked
220235,2013-08-09,14:35:30,MPT,788e52ddaa551032c69ba37cc316233f,FR,ALG,MRS,0.0,1.0,ALG,...,0,220235,2013-08-09,ALG,MRS,NaN,NaN,NaN,NaN,0
667065,2013-03-14,16:05:30,FXP,a96c517d90528e68f926d2835f6d8251,FI,SVX,HEL,1.0,2.0,SVX,...,HEL,667066,2013-03-14,SVX,HEL,NaN,NaN,NaN,NaN,0
160705,2013-06-10,05:40:15,MPT,b2f919c3d6a9ba67140ad215791fb7a1,RU,MOW,BQS,0.0,1.0,MOW,...,MOW,160705,2013-06-10,MOW,BQS,NaN,NaN,NaN,NaN,0
302057,2013-10-30,22:46:06,MPT,d548d9da427441458ba614dc0be9fc6e,FR,PAR,PTP,1.0,2.0,PAR,...,0,302057,2013-10-30,PAR,PTP,NaN,NaN,NaN,NaN,0
309435,2013-11-06,03:39:48,MPT,54df8a79382127fbc8bb62d073774586,ES,LIR,SMF,1.0,2.0,LIR,...,0,309435,2013-11-06,LIR,SMF,NaN,NaN,NaN,NaN,0
573741,2013-12-04,20:29:41,MPT,7dd402d07bb4c7e00388fecc8182cd3b,US,HOU,VCE,1.0,2.0,HOU,...,0,573741,2013-12-04,HOU,VCE,NaN,NaN,NaN,NaN,0
441089,2013-07-25,08:10:19,MTP,236cbf458f79dbb9d5e9c9430438c3db,US,JFK,ODS,1.0,2.0,JFK,...,HPN,441089,2013-07-25,JFK,ODS,NaN,NaN,NaN,NaN,0
444566,2013-07-28,08:15:55,MPT,d71b3b9af23c9a47a13cf43cb0269475,IN,BLR,JAI,0.0,1.0,BLR,...,0,444566,2013-07-28,BLR,JAI,NaN,NaN,NaN,NaN,0
536899,2013-10-28,08:26:00,FXP,89cb784ea70ecefa2304a5ec69fefd64,HK,HKG,SIN,0.0,2.0,HKG,...,0,536899,2013-10-28,HKG,SIN,NaN,NaN,NaN,NaN,0
136499,2013-05-17,12:30:25,MPC,013a605a30d373393122586dea103ea9,AU,SYD,LAX,1.0,2.0,SYD,...,MEL,136499,2013-05-17,SYD,LAX,NaN,NaN,NaN,NaN,0

In [ ]:
s_b.result(['index_x', 'Date_y', 'Origin_y', 'Destination_y', 'dep_port', 'arr_port', 'act_date','index_y'],axis=1, inplace=True)

### Now we have to put 1 to all the booking with Num of Bookings>1 in the clean file