## Web Service

In [1]:
import pandas as pd

In [ ]:
pd.read_json?

In [5]:
web_service_df=pd.read_json('http://127.0.0.1:5000/ret_number/100')

In [6]:
web_service_df.head()

                            Airport Name  arr_port    pax
0                London Heathrow Airport  LHR       88809
1          Orlando International Airport  MCO       70930
10  Chicago O'Hare International Airport  ORD       53200
11   Leonardo da Vinci–Fiumicino Airport  FCO       45120
12                    Istanbul / Ataturk  IST       43850