In [1]:
import pandas as pd

In [2]:
r = pd.read_json('http://127.0.0.1:5000/top/15?cabin=C')

In [3]:
r

    arr_port  pax
0   LHR       151
1   JFK       128
10  FRA        45
11  NRT        43
12  AMS        36
13  LAX        35
14  FCO        35
2   SIN        87
3   BKK        62
4   CDG        61
5   DXB        54
6   MCO        50
7   BOM        48
8   IST        48
9   HKG        46

In [4]:
b = pd.read_json('https://api.sandbox.amadeus.com/v1.2/travel-intelligence/top-destinations?apikey=JjI53BvDAZiNVp5GTAxWR9RryKCfM0Ty&period=2015-09&origin=BOS')

In [5]:
b

  origin   period                                            results
0    BOS  2015-09  {u'travelers': 64905, u'flights': 1913, u'dest...
1    BOS  2015-09  {u'travelers': 59824, u'flights': 1242, u'dest...
2    BOS  2015-09  {u'travelers': 56155, u'flights': 1727, u'dest...
3    BOS  2015-09  {u'travelers': 49134, u'flights': 1572, u'dest...
4    BOS  2015-09  {u'travelers': 44710, u'flights': 1678, u'dest...
5    BOS  2015-09  {u'travelers': 36551, u'flights': 1016, u'dest...
6    BOS  2015-09  {u'travelers': 32303, u'flights': 1187, u'dest...
7    BOS  2015-09  {u'travelers': 31062, u'flights': 472, u'desti...
8    BOS  2015-09  {u'travelers': 27534, u'flights': 845, u'desti...
9    BOS  2015-09  {u'travelers': 24750, u'flights': 807, u'desti...

In [6]:
p = pd.read_json("https://api.sandbox.amadeus.com/v1.2/travel-record/4JL7PU?apikey=JjI53BvDAZiNVp5GTAxWR9RryKCfM0Ty&last_name=HERRAIZ&env=PRODUCTION")

ValueError: arrays must all be same length

In [8]:
import json
import urllib

In [39]:
j = urllib.urlopen("https://api.sandbox.amadeus.com/v1.2/travel-record/3INCSR?apikey=JjI53BvDAZiNVp5GTAxWR9RryKCfM0Ty&last_name=HERRAIZ&env=PRODUCTION")

In [40]:
t = j.read()

In [41]:
t

'{\n  "record_locator" : "3INCSR",\n  "header" : {\n    "creation_office_id" : "MADAX28AB",\n    "owner_office_id" : "MADAX28AC"\n  },\n  "messages" : [ ],\n  "travelers" : [ {\n    "id" : "PT2",\n    "last_name" : "HERRAIZ",\n    "first_name" : "ISRAEL",\n    "type" : "ADULT",\n    "contacts" : [ {\n      "type" : "PHONE",\n      "purpose" : "BUSINESS",\n      "detail" : "+34911771154"\n    }, {\n      "type" : "PHONE",\n      "purpose" : "MOBILE",\n      "detail" : "+34616873844"\n    }, {\n      "type" : "PHONE",\n      "purpose" : "EMERGENCY",\n      "detail" : "+34687939482"\n    }, {\n      "type" : "PHONE",\n      "detail" : "TRAVELLER PHONE NUMBER:+34911771154"\n    }, {\n      "type" : "PHONE",\n      "detail" : "AMADEUS MADRID - SPAIN ONLINE"\n    }, {\n      "type" : "PHONE",\n      "detail" : "-AMADEUS-ONLINE"\n    }, {\n      "type" : "PHONE",\n      "detail" : "***PLEASE NOTE - INSTANT TICKETING***"\n    }, {\n      "type" : "PHONE",\n      "detail" : "* * * ALWAYS QUEUE MODIFIED AND CANCELLED PNR TO: ..OPHOUAX2101/20C3/PRETRIP"\n    }, {\n      "type" : "EMAIL",\n      "detail" : "ISRAEL.HERRAIZ@AMADEUS.COM"\n    }, {\n      "type" : "EMAIL",\n      "detail" : "ISRA@HERRAIZ.ORG"\n    }, {\n      "type" : "EMAIL",\n      "detail" : "ISRAEL.HERRAIZ@AMADEUS.COM,/-T"\n    } ],\n    "frequent_traveler_cards" : [ {\n      "issuer_type" : "AIRLINE",\n      "company_code" : "IB",\n      "card_number" : "64319155"\n    } ]\n  } ],\n  "reservation" : {\n    "flight_tickets" : [ {\n      "id" : "TST2",\n      "price" : {\n        "amount" : "447.55",\n        "currency" : "EUR"\n      },\n      "traveler_ids" : [ "PT2" ],\n      "flight_bounds" : [ {\n        "flights" : [ {\n          "id" : "ST1",\n          "departs_at" : "2015-10-05T15:50+02:00",\n          "arrives_at" : "2015-10-05T17:45+02:00",\n          "origin" : {\n            "airport" : "MAD",\n            "terminal" : "4"\n          },\n          "destination" : {\n            "airport" : "NCE"\n          },\n          "marketing_airline" : "IB",\n          "flight_number" : "3630",\n          "booking_info" : {\n            "booking_code" : "S",\n            "travel_class" : "ECONOMY",\n            "airline_record_locator" : "KZRVW",\n            "status" : "CONFIRMED"\n          },\n          "traveler_ids" : [ "PT2" ],\n          "operating_airline" : "IB"\n        } ]\n      }, {\n        "flights" : [ {\n          "id" : "ST2",\n          "departs_at" : "2015-10-07T12:30+02:00",\n          "arrives_at" : "2015-10-07T14:25+02:00",\n          "origin" : {\n            "airport" : "NCE",\n            "terminal" : "1"\n          },\n          "destination" : {\n            "airport" : "MAD",\n            "terminal" : "4"\n          },\n          "marketing_airline" : "IB",\n          "flight_number" : "8751",\n          "booking_info" : {\n            "booking_code" : "A",\n            "travel_class" : "ECONOMY",\n            "airline_record_locator" : "KZRVW",\n            "status" : "CONFIRMED"\n          },\n          "traveler_ids" : [ "PT2" ],\n          "operating_airline" : "IB"\n        } ]\n      } ]\n    } ],\n    "unticketed_flights" : [ ],\n    "trains" : [ ],\n    "cars" : [ ],\n    "hotels" : [ {\n      "check_in" : "2015-10-05",\n      "check_out" : "2015-10-07",\n      "property_code" : "RTSXDSOP",\n      "property_name" : "ACCOR HOTELS IBIS ANTIBES SOPHIA ANTIPOLIS",\n      "total_price" : {\n        "amount" : "182.00",\n        "currency" : "EUR"\n      },\n      "booking_info" : {\n        "reservation_code" : "0711PJ4510",\n        "status" : "CONFIRMED"\n      },\n      "traveler_ids" : [ "PT2" ],\n      "id" : "ST3"\n    } ],\n    "others" : [ {\n      "id" : "ST4",\n      "date" : "2016-03-01",\n      "location" : "ZZZ",\n      "description" : "THANK YOU FOR CALLING AMERICAN EXPRESS",\n      "booking_info" : {\n        "status" : "CONFIRMED"\n      },\n      "traveler_ids" : [ "PT2" ]\n    }, {\n      "id" : "ST5",\n      "date" : "2016-08-02",\n      "location" : "NCE",\n      "description" : "THANK YOU FOR USING AMERICAN EXPRESS GLOBAL BUSINESS TRAVEL",\n      "booking_info" : {\n        "status" : "CONFIRMED"\n      },\n      "traveler_ids" : [ "PT2" ]\n    } ]\n  }\n}'

In [42]:
d = json.loads(t)

In [43]:
d.keys()

[u'reservation', u'header', u'record_locator', u'messages', u'travelers']

In [52]:
d['reservation']['hotels'][0]['total_price']['amount']

u'182.00'