In [1]:
!ls

Class_15_04_2016.ipynb
Class_16_04_2016.ipynb
Class_16_4_2016_practical.ipynb
Class_22_4_2016.ipynb
Class_23_4_2016.ipynb
Class_23_4_2016_practical.ipynb
Group by.ipynb
intro_to_pandas_exercises.ipynb
Loading and Saving Data.ipynb
Matplotlib Basics.ipynb
Merge, Concatenate, Transform.ipynb
Simplified Pandas Introduction.ipynb
Soluciones a los ejercicios de repaso de Pandas.ipynb

In [2]:
lines =!wc -l Class_23_4_2016_practical.ipynb
lines

['4331 Class_23_4_2016_practical.ipynb']

In [3]:
type(lines)

IPython.utils.text.SList

In [13]:
number = lines[0].split()[0]
number

'4331'

In [14]:
names = ['Luis', 'Daniel', 'Isra', 'Sebas', 'Juan']

In [15]:
def capitalize_weird(word):
    lows = word.lower()
    vowels = 'aeiou'
    result = ''
    
    for l in lows:
        if l in vowels:
            result = result + l.upper()
        else:
            result = result + l
    
    return result

In [30]:
[name for i,name in enumerate(names) if i%2 !=0 ]

['Daniel', 'Sebas']

In [20]:
[capitalize_weird(name) for name in names if len(name)>4]

['dAnIEl', 'sEbAs']

In [23]:
filter(lambda x:len(x)>4, names)

['Daniel', 'Sebas']

In [24]:
map(capitalize_weird, names)

['lUIs', 'dAnIEl', 'IsrA', 'sEbAs', 'jUAn']

In [25]:
map(capitalize_weird, filter(lambda x:len(x)>4, names))

['dAnIEl', 'sEbAs']

In [16]:
capitalize_weird('BarCenas')

'bArcEnAs'

In [17]:
map(capitalize_weird, names)

['lUIs', 'dAnIEl', 'IsrA', 'sEbAs', 'jUAn']

In [18]:
[capitalize_weird(word) for word in names if len(word) > 4 ]

['dAnIEl', 'sEbAs']

In [19]:
filter(lambda x: len(x) > 4, names)

['Daniel', 'Sebas']

In [63]:
map(capitalize_weird, filter(lambda x: len(x) > 4, names))

['dAnIEl', 'sEbAs']

In [65]:
mylist = [1]
mytuple = (1)

In [66]:
mylist[0] = 5

In [67]:
mytuple[0] = 5

TypeError: 'int' object does not support item assignment

In [68]:
nested = (1, "a", [2, "b"])

In [70]:
nested[2].append(3)

In [71]:
nested

(1, 'a', [2, 'b', 3])

### Get every odd element from names

In [76]:
[elem for i, elem in enumerate(names) if i % 2 != 0]

['Daniel', 'Sebas']

In [79]:
xs = ['a','b','c', 'x']
ys = ['d','e','f']

In [80]:
zip(xs, ys)

[('a', 'd'), ('b', 'e'), ('c', 'f')]

In [50]:
xys = [['a', 1], \
       ['b', 2]]

In [82]:
xys[0][1]

1

In [83]:
zip(*xys)

[('a', 'b'), (1, 2)]

In [90]:
print(xys)

[['a', 1], ['b', 2]]

In [91]:
print(*xys)

SyntaxError: invalid syntax (<ipython-input-91-6cdf0e2d4901>, line 1)

# *tuple

In [31]:
map(capitalize_weird, names)

['lUIs', 'dAnIEl', 'IsrA', 'sEbAs', 'jUAn']

In [32]:
arbitrary_as_hell = (capitalize_weird, names)

In [35]:
map(*arbitrary_as_hell)

['lUIs', 'dAnIEl', 'IsrA', 'sEbAs', 'jUAn']

In [88]:
func, coll = arbitrary_as_hell

# Dicts

In [47]:
mydict = { 'asd' : {'a1':1,'a2':'abv','a3':True}}

In [48]:
mydict['asd']['a1']

1

In [51]:
xys

[['a', 1], ['b', 2]]

In [52]:
dict(xys)

{'a': 1, 'b': 2}

In [53]:
xys.append(3)

In [54]:
xys

[['a', 1], ['b', 2], 3]

In [55]:
dict(xys)

TypeError: cannot convert dictionary update sequence element #2 to a sequence

# if the name starts with A do one functiona and if it starts with D do the other

In [56]:
low = lambda x: x.lower()

In [57]:
names2 = ['Alba', 'Alvaro', 'Dani', 'Diana']

In [58]:
mydict = {'A' : capitalize_weird, 'D' : low }

In [59]:
[  mydict[name[0]](name) for name in names2]

['AlbA', 'AlvArO', 'dani', 'diana']

In [111]:
[  mydict[name[0]](name) for name in names]

KeyError: 'L'

In [64]:
if mydict.has_key('Barcenas'):
    mydict('Barcenas')

In [65]:
[  mydict[name[0]](name) for name in names if mydict.has_key(name[0])]

['daniel']

In [66]:
mydict.get('A')

In [67]:
mydict['A']

In [68]:
print(mydict.get('x'))

None

In [69]:
mydict.get('x', 'no esta')

'no esta'

In [70]:
mydict.get('A', 'no esta')

# if its not inside th dict do smth different with input

In [71]:
[  mydict.get(name[0], capitalize_weird)(name) for name in names ]

['lUIs', 'daniel', 'IsrA', 'sEbAs', 'jUAn']

### Iterating over dictionaries:

In [129]:
xdict = {'a' : 1, 'e' : 5, 'g': 7}

In [132]:
xdict.keys()

['a', 'e', 'g']

In [133]:
xdict.values()

[1, 5, 7]

In [134]:
for x in xdict.iteritems():
    print x

('a', 1)
('e', 5)
('g', 7)

In [135]:
for x in xdict.items():
    print x

('a', 1)
('e', 5)
('g', 7)

In [137]:
xdict.items()

[('a', 1), ('e', 5), ('g', 7)]

In [140]:
xdict.iteritems()[0]

TypeError: 'dictionary-itemiterator' object has no attribute '__getitem__'

In [141]:
xdict.items()[0]

('a', 1)

In [148]:
whos dict

Variable   Type    Data/Info
----------------------------
mydict     dict    n=2
xdict      dict    n=3

In [143]:
mydict

{'A': <function __main__.capitalize_weird>, 'D': <function __main__.<lambda>>}

In [152]:
xdict.update(mydict)

In [153]:
xdict

{'A': <function __main__.capitalize_weird>,
 'D': <function __main__.<lambda>>,
 'a': 1,
 'e': 5,
 'g': 7}

# Sets

In [154]:
myset = {1,2,3}

In [155]:
myset.add(5)

In [156]:
myset

{1, 2, 3, 5}

In [157]:
4 in myset

False

In [158]:
5 in myset

True

In [159]:
myotherset = {2,5,6,7}

In [160]:
myset - myotherset

{1, 3}

In [161]:
myset | myotherset

{1, 2, 3, 5, 6, 7}

In [162]:
myset & myotherset

{2, 5}

In [163]:
myset ^ myotherset

{1, 3, 6, 7}

In [74]:
names_ex = names + names2 + names

In [76]:
set(names_ex)

{'Alba', 'Alvaro', 'Dani', 'Daniel', 'Diana', 'Isra', 'Juan', 'Luis', 'Sebas'}

### Quick exercises 4

#### 1)

In [172]:

def names_with_a():
    
    res = []
    for name in names_ex:
        if 'a' in name:
            res.append(name)

    return res

In [171]:
names_with_a()

['Daniel', 'Isra', 'Sebas', 'Juan', 'Alba', 'Alvaro', 'Dani', 'Diana']

In [173]:
def names_with(char):
    
    res = []
    for name in names_ex:
        if char in name:
            res.append(name)

    return res

In [175]:
names_with('u')

['Luis', 'Juan']

In [176]:
def list_with(char, l):
    
    res = []
    for name in l:
        if char in name:
            res.append(name)

    return res

In [179]:
list_with('a', names2)

['Alba', 'Alvaro', 'Dani', 'Diana']

In [187]:
def list_comp(char, l):
    return [name for name in l if char in name]

In [190]:
list_comp('b', names_ex)

['Sebas', 'Alba']

#### 2)

In [77]:
names_ex.sort(key=lambda n: len(set(n)))

In [78]:
names_ex.append('Sara')

In [79]:
names_ex

['Luis',
 'Isra',
 'Juan',
 'Alba',
 'Dani',
 'Diana',
 'Luis',
 'Isra',
 'Juan',
 'Sebas',
 'Sebas',
 'Daniel',
 'Alvaro',
 'Daniel',
 'Sara']

In [80]:
ex_dict = {}

for n in names_ex:
    if n[0] not in ex_dict:
        ex_dict[n[0]] = []
    
    ex_dict[n[0]].append(n)

In [94]:
ex_dict = {}

for n in names_ex:
    ex_dict.setdefault(n[0], []).append(n)

In [97]:
#ex_dict = {}

{ex_dict.setdefault(n[0], []).append(n) for n in names_ex}

{None}

In [95]:
ex_dict

{'A': ['Alba', 'Alvaro'],
 'D': ['Dani', 'Diana', 'Daniel', 'Daniel'],
 'I': ['Isra', 'Isra'],
 'J': ['Juan', 'Juan'],
 'L': ['Luis', 'Luis'],
 'S': ['Sebas', 'Sebas', 'Sara']}

In [81]:
ex_dict

{'A': ['Alba', 'Alvaro'],
 'D': ['Dani', 'Diana', 'Daniel', 'Daniel'],
 'I': ['Isra', 'Isra'],
 'J': ['Juan', 'Juan'],
 'L': ['Luis', 'Luis'],
 'S': ['Sebas', 'Sebas', 'Sara']}

In [222]:
names_ex

['Luis',
 'Isra',
 'Juan',
 'Alba',
 'Dani',
 'Diana',
 'Sebas',
 'Daniel',
 'Alvaro',
 'Lara',
 'Sara']

Intro to Pandas

In [100]:
import pandas as pd

In [101]:
pd.Series([1,2,3,4,5,5])

0    1
1    2
2    3
3    4
4    5
5    5
dtype: int64

In [102]:
pd.Series([1,2,3,4,5,"a"])

0    1
1    2
2    3
3    4
4    5
5    a
dtype: object

In [103]:
series_1 = pd.Series([1,2,3,4,5,6])

In [104]:
series_1[0]

1

In [105]:
series_1 + 1

0    2
1    3
2    4
3    5
4    6
5    7
dtype: int64

In [106]:
series_1 > 3

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [107]:
series_1[series_1 > 3]

3    4
4    5
5    6
dtype: int64

In [108]:
booleana = series_1 > 3

In [109]:
booleana.sum()

3

In [110]:
import numpy as np

In [111]:
np.exp(series_1)

0      2.718282
1      7.389056
2     20.085537
3     54.598150
4    148.413159
5    403.428793
dtype: float64

In [112]:
serie = pd.Series([1,3,-4,3 , 5], index=['a','b','c','d','e'])

In [113]:
serie

a    1
b    3
c   -4
d    3
e    5
dtype: int64

In [114]:
states = ['OH', 'AK', 'NT', 'VE', 'MA']

In [115]:
serie_states = pd.Series(serie.values, index = states)

In [116]:
serie_states

OH    1
AK    3
NT   -4
VE    3
MA    5
dtype: int64

In [117]:
serie_states.index[serie_states > 0]

Index([u'OH', u'AK', u'VE', u'MA'], dtype='object')

In [118]:
serie_states_b = serie_states * 50

In [119]:
serie_states_b

OH     50
AK    150
NT   -200
VE    150
MA    250
dtype: int64

In [120]:
serie_states_bool = serie_states_b[serie_states_b > 0 ] > 100

In [121]:
serie_states_bool

OH    False
AK     True
VE     True
MA     True
dtype: bool

In [122]:
serie_states[serie_states_bool]

IndexingError: Unalignable boolean Series key provided

In [127]:
serie_states_b.index

Index([u'OH', u'AK', u'NT', u'VE', u'MA'], dtype='object')

In [125]:
serie_states_b.index[2:]

Index([u'NT', u'VE', u'MA'], dtype='object')

In [126]:
serie_states_b.index[:2]

Index([u'OH', u'AK'], dtype='object')

In [135]:
reordered = serie_states_b.index[:2] |serie_states_b.index[2:]

In [136]:
reordered

Index([u'AK', u'MA', u'NT', u'OH', u'VE'], dtype='object')

In [130]:
serie_states_b.reindex(reordered)

AK    150
MA    250
NT   -200
OH     50
VE    150
dtype: int64

In [282]:
serie_states

OH    1
AK    3
NT   -4
VE    3
MA    5
dtype: int64

In [283]:
serie_states[serie_states_b > 50]

AK    3
VE    3
MA    5
dtype: int64

### Dataframes

In [137]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}

In [138]:
data

{'pop': [1.5, 1.7, 3.6, 2.4, 2.9],
 'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
 'year': [2000, 2001, 2002, 2001, 2002]}

In [139]:
df = pd.DataFrame(data)

In [140]:
df

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

In [141]:
df2 = pd.DataFrame(data, index=['a','b','c','d','e'])

In [142]:
df2

   pop   state  year
a  1.5    Ohio  2000
b  1.7    Ohio  2001
c  3.6    Ohio  2002
d  2.4  Nevada  2001
e  2.9  Nevada  2002

In [146]:
df2.ix['a']

pop       1.5
state    Ohio
year     2000
Name: a, dtype: object

In [148]:
df2['a']

KeyError: 0

In [149]:
df2.ix['a']

pop       1.5
state    Ohio
year     2000
Name: a, dtype: object

In [150]:
df2.iloc[0]

pop       1.5
state    Ohio
year     2000
Name: a, dtype: object

In [ ]:
debt = pd.Series([1.2,3,5.3], index = ['a', 'd','e'])

df2['debt'] = debt

In [153]:
df2

   pop   state  year  debt
a  1.5    Ohio  2000   1.2
b  1.7    Ohio  2001   NaN
c  3.6    Ohio  2002   NaN
d  2.4  Nevada  2001   3.0
e  2.9  Nevada  2002   5.3

In [154]:
df2['small'] = df2['pop'] < 2

In [155]:
df2

   pop   state  year  debt  small
a  1.5    Ohio  2000   1.2   True
b  1.7    Ohio  2001   NaN   True
c  3.6    Ohio  2002   NaN  False
d  2.4  Nevada  2001   3.0  False
e  2.9  Nevada  2002   5.3  False

In [156]:
df2['indebted'] = df2['debt'] > 5

In [157]:
df2

   pop   state  year  debt  small indebted
a  1.5    Ohio  2000   1.2   True    False
b  1.7    Ohio  2001   NaN   True    False
c  3.6    Ohio  2002   NaN  False    False
d  2.4  Nevada  2001   3.0  False    False
e  2.9  Nevada  2002   5.3  False     True

In [158]:
df2['debt'] = df2['debt'].fillna(0)

In [159]:
df2

   pop   state  year  debt  small indebted
a  1.5    Ohio  2000   1.2   True    False
b  1.7    Ohio  2001   0.0   True    False
c  3.6    Ohio  2002   0.0  False    False
d  2.4  Nevada  2001   3.0  False    False
e  2.9  Nevada  2002   5.3  False     True

In [333]:
def deuda(n):
    if n < 0:
        return 'DE'
    if n > 5:
        return 'VE'
    if pd.isnull(n):
        return 'ES'
    else:
        return 'GR'

In [334]:
df2['debt'].apply(deuda)

a    GR
b    ES
c    ES
d    GR
e    VE
Name: debt, dtype: object

In [325]:
df2['debt']

   pop   state  year  debt  small indebted
a  1.5    Ohio  2000   1.2   True    False
b  1.7    Ohio  2001   NaN   True    False
c  3.6    Ohio  2002   NaN  False    False
d  2.4  Nevada  2001   3.0  False    False
e  2.9  Nevada  2002   5.3  False     True

In [337]:
df2['2002census'] = 1

In [338]:
df2

   pop   state  year  debt  small indebted  2002census
a  1.5    Ohio  2000   1.2   True    False           1
b  1.7    Ohio  2001   NaN   True    False           1
c  3.6    Ohio  2002   NaN  False    False           1
d  2.4  Nevada  2001   3.0  False    False           1
e  2.9  Nevada  2002   5.3  False     True           1

In [340]:
df2.pop

<bound method DataFrame.pop of    pop   state  year  debt  small indebted  2002census
a  1.5    Ohio  2000   1.2   True    False           1
b  1.7    Ohio  2001   NaN   True    False           1
c  3.6    Ohio  2002   NaN  False    False           1
d  2.4  Nevada  2001   3.0  False    False           1
e  2.9  Nevada  2002   5.3  False     True           1>

In [161]:
df

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

In [166]:
df.drop('state', axis=1)

   pop  year
0  1.5  2000
1  1.7  2001
2  3.6  2002
3  2.4  2001
4  2.9  2002

In [344]:
df[df['pop']>2]

   pop   state  year
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

In [346]:
df2['pop']

a    1.5
b    1.7
c    3.6
d    2.4
e    2.9
Name: pop, dtype: float64

In [347]:
df2['pop']['a']

1.5

In [349]:
df2['pop']['b':'d']

b    1.7
c    3.6
d    2.4
Name: pop, dtype: float64

In [350]:
df2

   pop   state  year  debt  small indebted  2002census
a  1.5    Ohio  2000   1.2   True    False           1
b  1.7    Ohio  2001   NaN   True    False           1
c  3.6    Ohio  2002   NaN  False    False           1
d  2.4  Nevada  2001   3.0  False    False           1
e  2.9  Nevada  2002   5.3  False     True           1

In [353]:
df2[['year','small']]

   year  small
a  2000   True
b  2001   True
c  2002  False
d  2001  False
e  2002  False

In [160]:
df2.columns[3:5]

Index([u'debt', u'small'], dtype='object')

In [357]:
df2[df2.columns[3:5]]

   debt  small
a   1.2   True
b   NaN   True
c   NaN  False
d   3.0  False
e   5.3  False

In [359]:
year = df2['year']

In [373]:
df2.ix[year.sort_values().index]

   pop   state  year  debt  small indebted  2002census
a  1.5    Ohio  2000   1.2   True    False           1
b  1.7    Ohio  2001   NaN   True    False           1
d  2.4  Nevada  2001   3.0  False    False           1
c  3.6    Ohio  2002   NaN  False    False           1
e  2.9  Nevada  2002   5.3  False     True           1

In [365]:
year

a    2000
b    2001
c    2002
d    2001
e    2002
Name: year, dtype: int64

In [375]:
df2.std()

pop           0.864292
year          0.836660
debt          2.055075
small         0.547723
indebted      0.447214
2002census    0.000000
dtype: float64