## Match searches with bookings

- For every search in the searches file, find out whether the search ended up in a booking or not (using the info in the bookings file). For instance, search and booking origin and destination should match. 

- For the bookings file, origin and destination are the columns dep_port and arr_port, respectively. 

- Generate a CSV file with the search data, and an additional field, containing 1 if the search ended up in a booking, and 0 otherwise.

1) Get familiar with data
2) Prepare the data for processing

3) Make action plan
4) Develop the code that works with a sample

5) Adjust the code to work with Big data
6) Test big data approach on a sample

7) Run program with big data

## Prepare the data for processing

### Booking

#### We didn't check for duplicates so far... What if the file is has duplicated lines?

# pd.set_option('display.max_columns', None)

In [1]:
%%time
import pandas as pd
bc=pd.read_csv('./bookings.csv.bz2', sep='^', chunksize=300000)
all_chunks=pd.DataFrame()
for i, chunks in enumerate(bc):
    all_chunks=all_chunks.append(chunks)
    all_chunks=all_chunks.drop_duplicates()
    print "Chunk %d... size %d"%(i,len(all_chunks))

Chunk 0... size 300000
Chunk 1... size 600000
Chunk 2... size 900000
Chunk 3... size 1000000
Chunk 4... size 1000000
Chunk 5... size 1000000
Chunk 6... size 1000000
Chunk 7... size 1000000
Chunk 8... size 1000000
Chunk 9... size 1000000
Chunk 10... size 1000000
Chunk 11... size 1000000
Chunk 12... size 1000000
Chunk 13... size 1000000
Chunk 14... size 1000000
Chunk 15... size 1000000

/home/dsc/anaconda2/lib/python2.7/site-packages/IPython/core/magic.py:193: DtypeWarning: Columns (7,8,27) have mixed types. Specify dtype option on import or set low_memory=False.
  call = lambda f, *a, **k: f(*a, **k)

Chunk 16... size 1016377
Chunk 17... size 1016377
Chunk 18... size 1016377
Chunk 19... size 1016377
Chunk 20... size 1016377
Chunk 21... size 1016377
Chunk 22... size 1016377
Chunk 23... size 1016377
Chunk 24... size 1016377
Chunk 25... size 1016377
Chunk 26... size 1016377
Chunk 27... size 1016377
Chunk 28... size 1016377
Chunk 29... size 1016377
Chunk 30... size 1016377
Chunk 31... size 1016377
Chunk 32... size 1016377
Chunk 33... size 1016377
CPU times: user 13min 18s, sys: 53.3 s, total: 14min 11s
Wall time: 14min 13s

In [3]:
all_chunks.columns=all_chunks.columns.map(lambda x:str(x).strip())
#all_chunks.columns.map(lambda x:str(x).strip())

In [6]:
all_chunks['dep_port'].head().tolist()

['ZRH     ', 'SAL     ', 'SAL     ', 'AKL     ', 'AKL     ']

In [7]:
all_chunks['arr_port'].head().tolist()

['LHR     ', 'CLT     ', 'CLT     ', 'SVO     ', 'SVO     ']

In [10]:
all_chunks['dep_port']=all_chunks['dep_port'].map(lambda x:str(x).strip())
all_chunks['arr_port']=all_chunks['arr_port'].map(lambda x:str(x).strip())

In [11]:
all_chunks['arr_port'].head().tolist()

['LHR', 'CLT', 'CLT', 'SVO', 'SVO']

In [12]:
all_chunks.to_csv('./bookings_nodp.csv', sep='^', index=False)

In [13]:
! ls -l

total 1434400
-rw-rw-r--. 1 dsc dsc 554970628 Jan  4  2016 bookings.csv.bz2
-rw-rw-r--. 1 dsc dsc 427361292 Dec  3 13:19 bookings_nodp.csv
-rw-rw-r--. 1 dsc dsc     54834 Dec  2 17:13 bookings.sample.csv.bz2
-rw-rw-r--. 1 dsc dsc    425006 Dec  2 17:23 bookings.sample.csv.csv
-rw-rw-r--. 1 dsc dsc     11743 Dec  2 19:38 ch_01.ipynb
-rw-rw-r--. 1 dsc dsc    102440 Dec  2 21:29 ch_02.ipynb
-rw-rw-r--. 1 dsc dsc    178730 Dec  3 12:46 ch_03.ipynb
-rw-rw-r--. 1 dsc dsc     12121 Dec  3 13:18 ch_04.ipynb
-rw-rw-r--. 1 dsc dsc     12165 Dec  2 21:44 ch_05b.ipynb
-rw-rw-r--. 1 dsc dsc      3442 Dec  2 21:47 ch_05.ipynb
-rw-rw-r--. 1 dsc dsc 483188920 Jan  4  2016 searches.csv.bz2
-rw-rw-r--. 1 dsc dsc   2432065 Dec  3 11:58 searches.sample.csv.bz2
-rw-rw-r--. 1 dsc dsc     33984 Dec  2 20:54 top_airports.csv

In [14]:
! wc -l bookings_nodp.csv

1016378 bookings_nodp.csv

In [15]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [17]:
%%time
import pandas as pd
bc=pd.read_csv('./searches.csv.bz2', sep='^', chunksize=300000, low_memory=False)
#without low memory False the column type is set with respect to first N rows

all_chunks=pd.DataFrame()
for i, chunks in enumerate(bc):
    all_chunks=all_chunks.append(chunks)
    all_chunks=all_chunks.drop_duplicates()
    print "Chunk %d... size %d"%(i,len(all_chunks))

Chunk 0... size 299999
Chunk 1... size 358999
Chunk 2... size 358999
Chunk 3... size 358999
Chunk 4... size 658992
Chunk 5... size 718002
Chunk 6... size 718002
Chunk 7... size 718002
Chunk 8... size 718002
Chunk 9... size 718002
Chunk 10... size 718002
Chunk 11... size 718002
Chunk 12... size 718002
Chunk 13... size 718002
Chunk 14... size 718002
Chunk 15... size 718002
Chunk 16... size 718002
Chunk 17... size 718002
Chunk 18... size 718002
Chunk 19... size 718002
Chunk 20... size 718002
Chunk 21... size 718002
Chunk 22... size 718002
Chunk 23... size 718002
Chunk 24... size 718002
Chunk 25... size 718002
Chunk 26... size 718002
Chunk 27... size 718002
Chunk 28... size 718002
Chunk 29... size 718002
Chunk 30... size 718002
Chunk 31... size 718002
Chunk 32... size 718002
Chunk 33... size 718002
Chunk 34... size 718002
Chunk 35... size 718002
Chunk 36... size 718002
Chunk 37... size 718002
Chunk 38... size 718002
Chunk 39... size 718002
Chunk 40... size 718002
Chunk 41... size 718002
Chunk 42... size 718002
Chunk 43... size 718002
Chunk 44... size 718002
Chunk 45... size 718002
Chunk 46... size 718002
Chunk 47... size 718002
Chunk 48... size 718002
Chunk 49... size 718002
Chunk 50... size 718002
Chunk 51... size 718002
Chunk 52... size 718002
Chunk 53... size 718002
Chunk 54... size 718002
Chunk 55... size 718002
Chunk 56... size 718002
Chunk 57... size 718002
Chunk 58... size 718002
Chunk 59... size 718002
Chunk 60... size 718002
Chunk 61... size 718002
Chunk 62... size 718002
Chunk 63... size 718002
Chunk 64... size 718002
Chunk 65... size 718002
Chunk 66... size 718002
Chunk 67... size 718003
CPU times: user 16min 51s, sys: 1min 53s, total: 18min 44s
Wall time: 18min 49s

In [20]:
all_chunks['Origin'].head().tolist()

['TXL', 'ATH', 'ICT', 'RNB', 'OSL']

In [21]:
all_chunks.to_csv('./searches_nodp.csv', sep='^', index=False)

## Action Plan

1) get search_date, origin destination from search
2) get act_date, dep_port and arr_port from bookins
3) eleminate duplicates from bookings 
4) left join [search_date, origin, destination] on [act_date, dep_port,arr_port]
5) add 0/1 depending of Nan/Something

In [1]:
import pandas as pd
s=pd.read_csv('./searches_nodp.csv', sep='^',usecols=['Date','Origin', 'Destination'])
b=pd.read_csv('./bookings_nodp.csv', sep='^',usecols=['act_date','dep_port', 'arr_port'])

### NaN and prepare dates

In [2]:
print "size of Book:\t%d \nsize of Search:\t%d " % (len(b), len(s))

size of Book:	1016377
size of Search:	718003

In [3]:
b=b.dropna()
s=s.dropna()

In [4]:
print "size of Book:\t%d \nsize of Search:\t%d " % (len(b), len(s))

size of Book:	1016377
size of Search:	718002

In [5]:
b['act_date']=pd.to_datetime(b['act_date'],errors='raise')

In [7]:
s['Date'] = pd.to_datetime(s['Date'],errors='raise')

Search-Booking Model
if there is one booking for a given O&D done at the same day as the search (for the same O&D), all searches of the day (for a given 0&D) might have resulted from the same source and will be set with 1

1) Group by bookings on [Activity_date, O&D] so that we dont have duplicates 
    (and we can have number of bookings for the day)
    or we can just drop the duplicates
2) search left join bookings

what do we have?

In [21]:
import pandas as pd
s=pd.read_csv('./searches_nodp.csv', sep='^',usecols=['Date','Origin', 'Destination'])
b=pd.read_csv('./bookings_nodp.csv', sep='^',usecols=['act_date','dep_port', 'arr_port'])
b=b.dropna()
b['act_date']=pd.to_datetime(b['act_date'],errors='raise')

s.reset_index(inplace=True) #before dropping NAN values we should save the index 
# so that we know how to merge 1/0 values to the csv file
s=s.dropna()
s['Date'] = pd.to_datetime(s['Date'],errors='raise')

In [22]:
b_gr=b.groupby(['dep_port','arr_port', 'act_date']).size().reset_index()
b_gr.head()

  dep_port arr_port   act_date  0
0      AAB      ROV 2013-05-29  2
1      AAB      ROV 2013-08-24  2
2      AAE      ALG 2013-01-07  1
3      AAE      ALG 2013-01-08  2
4      AAE      ALG 2013-01-09  4

In [23]:
b_gr.rename(columns={0:'Num of Bookings'}, inplace=True)
print len(b_gr)
b_gr.head()

466228

  dep_port arr_port   act_date  Num of Bookings
0      AAB      ROV 2013-05-29                2
1      AAB      ROV 2013-08-24                2
2      AAE      ALG 2013-01-07                1
3      AAE      ALG 2013-01-08                2
4      AAE      ALG 2013-01-09                4

In [24]:
s.head()

   index       Date Origin Destination
0      0 2013-01-01    TXL         AUH
1      1 2013-01-01    ATH         MIL
2      2 2013-01-01    ICT         SFO
3      3 2013-01-01    RNB         ARN
4      4 2013-01-01    OSL         MAD

In [ ]:
pd.merge?

In [26]:
s_b=s.merge(b_gr, 
            how='left', 
            left_on=['Date','Origin','Destination'], 
            right_on=['act_date', 'dep_port','arr_port'])

s_b.drop(['dep_port','arr_port', 'act_date'],axis=1, inplace=True)
s_b[s_b['Num of Bookings']>0].head()

    index       Date Origin Destination  Num of Bookings
23     23 2013-01-01    DUS         IST              1.0
27     27 2013-01-01    RUH         JED             13.0
40     40 2013-01-01    DMM         MNL              1.0
59     59 2013-01-01    ATL         MIA              2.0
94     94 2013-01-01    DXB         KUL              1.0

In [27]:
#check that left joint went well wrt size
len(s_b), len(s)

(718002, 718002)

### Now we have to put 1 to all the booking with Num of Bookings>1 in the clean file

In [28]:
s_b[s_b['Num of Bookings']>0].head()

    index       Date Origin Destination  Num of Bookings
23     23 2013-01-01    DUS         IST              1.0
27     27 2013-01-01    RUH         JED             13.0
40     40 2013-01-01    DMM         MNL              1.0
59     59 2013-01-01    ATL         MIA              2.0
94     94 2013-01-01    DXB         KUL              1.0

In [29]:
#This has one more line than s
s_all=pd.read_csv('./searches_nodp.csv',sep='^', low_memory=False)

len(s_all),len(s_b)

(718003, 718002)

In [30]:
result=s_all.merge(s_b, 
            how='left', 
            left_index=True,
            right_on='index')

In [31]:
result[result['Num of Bookings']>1].tail(10)

,Date_x,Time,TxnCode,OfficeID,Country,Origin_x,Destination_x,RoundTrip,NbSegments,Seg1Departure,...,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice,index,Date_y,Origin_y,Destination_y,Num of Bookings
717831,2013-05-03,01:33:05,MPT,8b4fa4e121637f583bfa86ef0fa26c9e,US,LAX,LAS,1.0,2.0,LAX,...,0,0,0,d41d8cd98f00b204e9800998ecf8427e,LAS,717832.0,2013-05-03,LAX,LAS,2.0
717856,2013-05-03,13:59:20,MPT,440642a9bdaeb6287f826cefd73255e8,US,KCH,KUL,1.0,2.0,KCH,...,0,0,0,d41d8cd98f00b204e9800998ecf8427e,HPN,717857.0,2013-05-03,KCH,KUL,2.0
717859,2013-05-03,21:04:28,MPT,f976842f00052a55080c5ea015cd728c,US,JFK,SDQ,1.0,2.0,JFK,...,0,0,0,d41d8cd98f00b204e9800998ecf8427e,SFO,717860.0,2013-05-03,JFK,SDQ,2.0
717885,2013-05-03,11:45:21,MPT,cf4ae41b25a075c3a8fee145e1919199,NL,AMS,CDG,1.0,2.0,AMS,...,0,0,0,d41d8cd98f00b204e9800998ecf8427e,AMS,717886.0,2013-05-03,AMS,CDG,2.0
717892,2013-05-03,17:17:18,FXX,1722290df1e162d326280c5d4a82657b,CO,BAQ,BOG,0.0,1.0,BAQ,...,0,0,0,c01f2026c4c0064e4a406973f52e1375,BOG,717893.0,2013-05-03,BAQ,BOG,2.0
717914,2013-05-03,16:00:14,FXL,9c7e0c8dd5b434e375f293130d54aa98,CO,MDE,BOG,1.0,2.0,MDE,...,0,0,0,40b17e34908fcd5f252369ea4aa546c7,CLO,717915.0,2013-05-03,MDE,BOG,4.0
717926,2013-05-03,14:34:47,MPT,d1b80a3dca253a3816073469f2cfe6be,GB,LHR,MIA,1.0,2.0,LHR,...,0,0,0,d41d8cd98f00b204e9800998ecf8427e,LON,717927.0,2013-05-03,LHR,MIA,2.0
717943,2013-05-03,15:46:07,MTC,7f756d89441bf77ca6cfc2c69e358aa8,ES,MAD,SFO,0.0,1.0,MAD,...,0,0,0,d41d8cd98f00b204e9800998ecf8427e,MAD,717944.0,2013-05-03,MAD,SFO,2.0
717964,2013-05-03,04:37:54,AWT,ccb20b39ccfeccfe2cf6ee59fe243093,FR,CDG,LAX,0.0,1.0,CDG,...,0,0,0,d41d8cd98f00b204e9800998ecf8427e,CDG,717965.0,2013-05-03,CDG,LAX,2.0
717966,2013-05-03,18:59:04,CAL,c500a9ba3f7a21c286fdefc5c8c2ff99,BG,SOF,PMI,1.0,2.0,SOF,...,0,0,0,d41d8cd98f00b204e9800998ecf8427e,SOF,717967.0,2013-05-03,SOF,PMI,2.0

In [32]:
result.drop(['Date_y','Origin_y','Destination_y'], axis=1, inplace=True)
result.rename(columns={'Date_x':'Date','Num of Bookings':'Booked'}, inplace=True)
result['Booked']=result['Booked'].fillna(0).map(lambda x: 1 if x>0 else 0)

In [33]:
result.to_csv('searches_bookings.csv',sep='^', index=False)

In [34]:
result.head(3)

,Date,Time,TxnCode,OfficeID,Country,Origin_x,Destination_x,RoundTrip,NbSegments,Seg1Departure,...,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice,index,Booked
0,2013-01-01,20:25:57,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,TXL,AUH,1.0,2.0,TXL,...,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA,0.0,0
1,2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5cf2986e8e02,MD,ATH,MIL,0.0,1.0,ATH,...,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,KIV,1.0,0
2,2013-01-01,18:04:49,MPT,3561a60621de06ab1badc8ca55699ef3,US,ICT,SFO,1.0,2.0,ICT,...,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC,2.0,0